@model SimplCommerce.Module.Catalog.Areas.Catalog.ViewModels.ProductDetail

@{
    ViewBag.Title = Model.MetaTitle ?? Model.Name;
}

@section additionalMeta {
    <meta name="title" content="@ViewBag.Title" />
    <meta name="keywords" content="@Model.MetaKeywords" />
    <meta name="description" content="@Model.MetaDescription" />
}

@section head
    {
    <link simpl-append-version="true" rel="stylesheet" href="~/lib/smoothproducts/css/smoothproducts.css" />
    <link simpl-append-version="true" rel="stylesheet" href="~/modules/catalog/product-detail.css" />
}
    <div class="inner-wrap clearfix">
        <div id="primary">
            <div id="content" class="clearfix">
                <article id="post-135" class="post-135 post type-post status-publish format-standard has-post-thumbnail hentry category-drinks category-food category-health">
                    <div class="featured-image"> <a href="@Model.Slug" class="image-popup"><img width="800" height="445" src="@Model.ThumbnailUrl" class="attachment-colormag-featured-image size-colormag-featured-image wp-post-image" alt=""></a></div>
                    <div class="article-content clearfix">
                        <div class="above-entry-meta">
                            <span class="cat-links">
                                @foreach (var category in Model.Categories)
                                {
                                    <a href="@category.Slug" style="background:#289dcc" rel="category tag">@category.Name</a>
                                }
                            </span>
                        </div>
                        <header class="entry-header">
                            <h1 class="entry-title"> @Model.Name</h1>
                        </header>
                        <div class="below-entry-meta"> <span class="posted-on"><a href="index.html" title="10:00 am" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="2015-03-24T10:00:06+00:00">March 24, 2015</time><time class="updated" datetime="2015-06-22T09:32:41+00:00">June 22, 2015</time></a></span> <span class="byline"> <span class="author vcard"> <i class="fa fa-user"></i> <a class="url fn n" href="../../../../author/demothemegrill/index.html" title="TG-Demo Team">TG-Demo Team </a> </span> </span></div>
                        <div class="entry-content clearfix">
                            @Html.Raw(Model.Description)
                        </div>
                    </div>
                </article>
            </div>
            <ul class="default-wp-page clearfix">
                <li class="previous"><a href="../mosquito-borne-diseases-has-threaten-world/index.html" rel="prev"><span class="meta-nav">←</span> Mosquito-borne diseases has threaten World</a></li>
                <li class="next"><a href="../drones-being-used-to-monitor-wordcup/index.html" rel="next">Drones being used to monitor WordCup <span class="meta-nav">→</span></a></li>
            </ul>
            @await Component.InvokeAsync("ProductRecentlyViewed", new { productId = Model.Id })

        </div>
        @await Component.InvokeAsync("NewProduct")
    </div>
