@model SimplCommerce.Module.Cms.Areas.Cms.ViewModels.CarouselWidgetViewComponentVm

<div class="widget_slider_area_rotate">
    @foreach (var item in Model.Items)
    {
        <div class="single-slide @(item == Model.Items.First()?"displayblock":"displaynone")">
            <figure class="slider-featured-image"><a href="@item.TargetUrl" title="@item.SubCaption"><img width="800" height="445" src="@item.Image" class="attachment-colormag-featured-image size-colormag-featured-image wp-post-image" alt="Destruction in Montania" title="Destruction in Montania" /></a></figure>
            <div class="slide-content">
                <div class="above-entry-meta">
                    <span class="cat-links">
                        @if (!string.IsNullOrEmpty(item.LinkText))
                        {
                            <a href="@item.TargetUrl" style="background:#289dcc" rel="category tag">@item.LinkText</a>
                        }

                    </span></div>
                <h3 class="entry-title"> <a href="2015/03/24/destruction-in-montania/index.html" title="@item.SubCaption">@item.SubCaption</a></h3>
            </div>
        </div>
    }
</div>
