@using System.Globalization
<!doctype html>
<html lang="en">
<head>
    @RenderSection("additionalMeta", false)
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Laptop cũ Đà nẵng - laptopcudanang.com</title>
    <meta name="keywords" content="laptopcudanang, smartphone, tablet, máy tính bảng, Laptop, máy tính xách tay, phụ kiện điện thoại, tin công nghệ" />
    <meta name="description" content="Hệ thống bán lẻ điện thoại di động, smartphone, máy tính bảng, tablet, laptop, phụ kiện chính hãng mới nhất, giá tốt, dịch vụ khách hàng được yêu thích nhất VN" />
    <meta property="og:title" content="Laptopcudanang.com - Siêu thị điện thoại, Tablet, Laptop, Phụ kiện chính hãng" />
    <meta property="og:description" content="Hệ thống bán lẻ điện thoại di động, smartphone, máy tính bảng, tablet, laptop, phụ kiện chính hãng mới nhất, giá tốt, dịch vụ khách hàng được yêu thích nhất VN" />
    <meta content="INDEX,FOLLOW" name="robots" />
    <meta name="copyright" content="Công ty TNHH MTV Quốc tế Phúc Thành Đạt" />
    <meta name="author" content="Công ty  TNHH MTV Quốc tế Phúc Thành Đạt" />
    <meta http-equiv="audience" content="General" />
    <meta name="resource-type" content="Document" />
    <meta name="distribution" content="Global" />
    <meta name="revisit-after" content="1 days" />
    <meta name="GENERATOR" content="Công ty TNHH MTV Quốc tế Phúc Thành Đạt" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta property="og:site_name" content="laptopcudanang.com" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="fb:pages" content="214993791879039" />
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link href="~/themes/TheGioiDiDong/css/style.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link simpl-append-version="true" rel="stylesheet" href="~/lib/toastr/build/toastr.min.css" />
    <link simpl-append-version="true" rel="stylesheet" type="text/css" href="~/themes/CozaStore/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link simpl-append-version="true" rel="stylesheet" type="text/css" href="~/themes/CozaStore/fonts/iconic/css/material-design-iconic-font.min.css" />
    <link simpl-append-version="true" rel="stylesheet" type="text/css" href="~/themes/CozaStore/fonts/linearicons-v1.0.0/icon-font.min.css" />
    <link simpl-append-version="true" rel="stylesheet" type="text/css" href="~/lib/bootstrap-star-rating/css/star-rating.css" />
    <link simpl-append-version="true" rel="stylesheet" type="text/css" href="~/themes/TheGioiDiDong/vendor/animate/animate.css" />
    <link simpl-append-version="true" rel="stylesheet" type="text/css" href="~/themes/TheGioiDiDong/vendor/css-hamburgers/hamburgers.min.css" />
    <link simpl-append-version="true" rel="stylesheet" type="text/css" href="~/themes/TheGioiDiDong/vendor/animsition/css/animsition.min.css" />
    <link simpl-append-version="true" rel="stylesheet" type="text/css" href="~/themes/TheGioiDiDong/vendor/slick/slick.css" />
    <link simpl-append-version="true" rel="stylesheet" type="text/css" href="~/themes/TheGioiDiDong/css/util.css" />
    <link simpl-append-version="true" rel="stylesheet" type="text/css" href="~/themes/TheGioiDiDong/css/main.css" />
    <link simpl-append-version="true" rel="stylesheet" type="text/css" href="~/themes/TheGioiDiDong/css/simpl.css" />
    @RenderSection("head", required: false)
    <style>

        .bg-navbar {
            background-color: #fdd504;
        }

        .nav-item {
            background-color: #fdd504;
        }

        @@media all and (max-width: 600px) and (orientation:landscape) {
        }

        @@media all and (min-width:0px) and (max-width: 1024px) {
            .wrap-main {
                margin-left: 0px !important;
            }
        }

        .navbar {
            padding: 0rem 0rem !important;
        }
    </style>

</head>
<body>
    <div class="container" style="padding-top:63px ">
        <header class="row">
            @await Component.InvokeAsync("CategoryMenu")
        </header>
        @RenderSection("featured", false)
        @RenderBody()
        <div class="catetag">
            <div>
                    <a href="laptop?p=tren-25-trieu">Trên 25 triệu</a>
                    <a href="laptop?p=15-25-trieu">15 - 25 triệu</a>
                    <a href="laptop?p=10-15-trieu">10 - 15 triệu</a>
                    <a href="laptop?p=duoi-10-trieu">Dưới 10 triệu</a>
            </div>
            <div>
                    <a href="laptop-macbook">Macbook</a>
                    <a href="laptop-dell">Dell</a>
                    <a href="laptop-asus">Asus</a>
                    <a href="laptop-hp-compaq">HP-Compaq</a>
            </div>
            <div>
                        <a href="laptop?f=man-hinh-gap-360-do">Màn hình gập 360 độ</a>
                        <a href="laptop?f=cpu-intel-the-he-8">CPU Intel thế hệ 8</a>
                        <a href="laptop?f=vien-man-hinh-mong">Viền màn hình mỏng</a>
                        <a href="laptop?f=bo-nho-intel-optane">Bộ nhớ Intel Optane</a>
            </div>
        </div>
        <div class="plc">
            <ul>
                <li><i class="icGh"></i><span>Giao hàng hoả tốc trong 90 phút</span></li>
                <li><i class="icTt"></i><span>Thanh toán linh hoạt: tiền mặt, visa / master, trả góp</span></li>
                <li><i class="icTn"></i><span>Trải nghiệm sản phẩm tại nhà</span></li>
                <li><i class="icLd"></i><span>Lỗi đổi tại nhà trong 1 ngày</span></li>
                <li><i class="icHt"></i><span>Hỗ trợ suốt thời gian sử dụng. Hotline: <a href="tel:18001763">1800.1763</a></span></li>
            </ul>
        </div>
    </div>
    <footer class="bg3  m-t-75">
        <div class="container">
            <div class="row">
                <div class="col-md-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-8">
                        Về hệ thống
                    </h4>
                    <vc:menu menu-id="2"></vc:menu>
                </div>

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-8">
                        Hỗ trợ
                    </h4>
                    <vc:menu menu-id="1"></vc:menu>
                </div>
                <div class="col-md-3 p-b-50">
                    <ul>
                        <li>
                            <p>Gọi mua hàng <a href="tel:18001060">1800.1060</a> (7:30 - 22:00)</p>
                            <p>Gọi khiếu nại <a href="tel:18001062">1800.1062</a> (8:00 - 21:30)</p>
                            <p>Gọi bảo hành <a href="tel:18001064">1800.1064</a> (8:00 - 21:00)</p>
                            <p>Hỗ trợ kỹ thuật <a href="tel:18001763">1800.1763</a> (7:30 - 22:00)</p>
                            <a target="_blank" rel="nofollow noopener" class="bct" href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=20098" aria-label="bộ công thương mwg"><i class="icontgdd-bct"></i></a>
                            <a href="http://www.dmca.com/Protection/Status.aspx?ID=5b62e759-2a0c-4d86-b972-af903bfbc89d&amp;refurl=http://www.thegioididong.com/" title="DMCA.com Protection Status" class="dmca-badge"> <img style="opacity:0.01" src="../images.dmca.com/Badges/dmca-badge-w100-5x1-119b48.png?ID=5b62e759-2a0c-4d86-b972-af903bfbc89d" alt="DMCA.com Protection Status"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 p-b-50" style="text-align:right">
                    <ul>
                        <li>
                            <a target="_blank" href="https://facebook.com/thegioididongcom" class="linkfb" rel="noopener">
                                <i class="icontgdd-share1"></i>3.3tr
                            </a>
                            <a target="_blank" href="https://www.youtube.com/user/TGDDVideoReviews?sub_confirmation=1" class="linkyt" rel="noopener">
                                <i class="icontgdd-share3"></i>522.2k
                            </a>
                            <div class="group">
                                <label>Website cùng tập đoàn:</label>
                                <a href="http://www.dienmayxanh.com/" target="_blank" rel="noopener" class="dm" aria-label="www.dienmayxanh.com"><i class="iconlogo-dmx"></i></a>
                                <a href="http://www.bachhoaxanh.com/" target="_blank" rel="noopener" class="bhx" aria-label="www.bachhoaxanh.com"><i class="iconlogo-bhx"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>
    <p id="back-top">
        <a href="#top" title="Về Đầu Trang"><span></span></a>
    </p>
    <!--#endregion -->
    <!--#region Hotjar -->
    <!--#endregion -->
    <div id="dlding">Đang xử lý, vui lòng đợi trong giây lát...</div>
    <div id="shopModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div id="productOverview" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-padding">
            </div>
        </div>
    </div>
    <script>
        window.simplGlobalSetting = {};
        window.simplGlobalSetting.lang = '@CultureInfo.CurrentCulture.Name';
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script simpl-append-version="true" src="~/lib/bootstrap4/js/bootstrap.js"></script>
    <script simpl-append-version="true" src="~/lib/multi-dropdown-menu/js/bootstrap-4-navbar.js"></script>
    @*<script simpl-append-version="true" src="~/lib/matchheight/jquery.matchHeight.js"></script>*@
    <script simpl-append-version="true" src="~/lib/toastr/build/toastr.min.js"></script>
    <script simpl-append-version="true" src="~/lib/bootstrap-star-rating/js/star-rating.js"></script>
    @if (CultureInfo.CurrentCulture.Name == "vi-VN")
    {
        <script simpl-append-version="true" src="~/lib/bootstrap-star-rating/js/locales/vi-vn.js"></script>
    }
    <script src="~/themes/TheGioiDiDong/libs/OwlCarousel/dist/owl.carousel.min.js"></script>
    <script simpl-append-version="true" src="~/themes/CozaStore/vendor/animsition/js/animsition.min.js"></script>
    <script simpl-append-version="true" src="~/themes/CozaStore/vendor/slick/slick.min.js"></script>
    <script simpl-append-version="true" src="~/themes/CozaStore/js/slick-custom.js"></script>
    <script simpl-append-version="true" src="~/themes/CozaStore/js/cozastore.js"></script>
    <script simpl-append-version="true" src="~/modules/core/main.js"></script>
    <script simpl-append-version="true" src="~/modules/shoppingcart/add-to-cart.js"></script>
    <script simpl-append-version="true" src="~/modules/productcomparison/product-comparison.js"></script>
    @RenderSection("scripts", required: false)
    @if (Context.Request.Path == "/")
    {
        <script simpl-append-version="true" src='~/themes/TheGioiDiDong/images/cdn/v2015/Scripts/desktop/V5/home.min.js'></script>
    }

</body>
</html>
