<!doctype html>
<html lang="vi">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://cdn.tgdd.vn/v2015/Scripts/desktop/detectie/html5shiv.js"></script>
  <script src="https://cdn.tgdd.vn/v2015/Scripts/desktop/detectie/respond.min.js"></script>
<![endif]-->
<head>
    @RenderSection("additionalMeta", false)
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />=
    <title>Thegioididong.com - Siêu thị điện thoại, Tablet, Laptop, Phụ kiện chính hãng</title>
    <meta name="keywords" content="Thế giới di động, Thegioididong, điện thoại di động, dtdd, smartphone, tablet, máy tính bảng, Laptop, máy tính xách tay, phụ kiện điện thoại, tin công nghệ" />
    <meta name="description" content="Hệ thống bán lẻ điện thoại di động, smartphone, máy tính bảng, tablet, laptop, phụ kiện chính hãng mới nhất, giá tốt, dịch vụ khách hàng được yêu thích nhất VN" />
    <meta property="og:title" content="Thegioididong.com - Siêu thị điện thoại, Tablet, Laptop, Phụ kiện chính hãng" />
    <meta property="og:description" content="Hệ thống bán lẻ điện thoại di động, smartphone, máy tính bảng, tablet, laptop, phụ kiện chính hãng mới nhất, giá tốt, dịch vụ khách hàng được yêu thích nhất VN" />
    <meta content="INDEX,FOLLOW" name="robots" />
    <meta name="viewport" content="width=device-width" />
    <meta name="copyright" content="Công ty Cổ phần Thế Giới Di Động" />
    <meta name="author" content="Công ty Cổ phần Thế Giới Di Động" />
    <meta http-equiv="audience" content="General" />
    <meta name="resource-type" content="Document" />
    <meta name="distribution" content="Global" />
    <meta name="revisit-after" content="1 days" />
    <meta name="GENERATOR" content="Công ty Cổ phần Thế Giới Di Động" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="publisher" href="https://plus.google.com/+Thegioididongdotcom/posts" />
    <link rel="author" href="https://plus.google.com/+Thegioididongdotcom/posts" />
    <meta property="og:site_name" content="Thegioididong.com" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="fb:pages" content="214993791879039" />
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="https://cdn.tgdd.vn/">
    <link href="~/themes/TheGioiDiDong/css/style.css" rel="stylesheet" />
    @RenderSection("head", required: false)
</head>
<body>
    @RenderSection("featured", false)
    @RenderBody()
  
    <header>
        <div class="wrap-main">
            <a class="logo" title="Về trang chủ Thegioididong.com" href="index.html" aria-label="logo">
                <i class="icontgdd-logo"></i>
            </a>
            <form id="search-site" action="https://www.thegioididong.com/tim-kiem" method="get" onsubmit="return submitSearchForm();" autocomplete="off">
                <input class="topinput" id="search-keyword" name="key" type="text" aria-label="Bạn tìm gì..." placeholder="Bạn tìm gì..." autocomplete="off" onkeyup="SuggestSearch(event,this, 0);" maxlength="50" />
                <button class="btntop" type="submit" aria-label="tìm kiếm"><i class="icontgdd-topsearch"></i></button>
            </form>
            <nav>
                <a href="dtdd.html" class="mobile" title="Điện thoại di động, smartphone">
                    <i class="icontgdd-mobile"></i>Điện thoại
                </a>
                <a href="may-tinh-bang.html" class="tablet" title="Máy tính bảng, tablet">
                    <i class="icontgdd-tablet"></i>Tablet
                </a>
                <a href="laptop.html" class="laptop" title="Máy tính xách tay, Laptop">
                    <i class="icontgdd-laptop"></i>Laptop
                </a>
                <a href="phu-kien.html" class="phukien" title="Phụ kiện điện thoại di động, phụ kiện tablet, phụ kiện lapto">
                    <i class="icontgdd-phukien"></i>Phụ kiện
                </a>
                <a href="dong-ho-thong-minh.html" class="smartwatch" title="Đồng hồ thông minh">
                    <i class="icontgdd-watch"></i>Đồng hồ
                </a>
                <a href="may-doi-tra.html" class="maydoitra" title="Máy cũ giá rẻ, máy đổi trả thegioididong">
                    <i class="icontgdd-maydoitra"></i><span>Máy</span>Cũ giá rẻ
                </a>
                <a href="tin-tuc.html" class="news" title="Tin công nghệ">
                    <i class="icontgdd-news"></i><span>Tin</span>Công Nghệ
                </a>
                <a href="hoi-dap.html" class="ask" title="Hỏi đáp">
                    <i class="icontgdd-ask"></i>Hỏi đáp
                </a>
                <a href="sim-so-dep.html" class="cardsim">
                    Sim số<br />
                    Thẻ cào
                </a>
                <a href="tien-ich/thanh-toan-tra-gopd41d.html?" class="utility">
                    Đóng tiền điện,<br />
                    nước, trả góp
                </a>
            </nav>
        </div>
        <div class="clr"></div>
    </header>

    <footer>
        <div class="rowfoot1">
            <ul class="colfoot">
                <li><a href="tra-gop.html" title="Hướng dẫn mua trả góp">Tìm hiểu về mua trả góp</a></li>
                <li><a href="bao-hanh.html" title="Tìm trung tâm bảo hành">Chính sách bảo hành</a></li>
                <li><a href="chinh-sach-bao-hanh-san-pham.html" title="Chính sách đổi trả">Chính sách đổi trả</a></li>
                <li><a href="giao-hang.html" title="Giao hàng & Thanh toán">Giao hàng & Thanh toán</a></li>

                <li class="showmore"><a href="javascript:ShowMoreFooterSupportLink()" title="Xem thêm">Xem thêm</a></li>
                <li class="hidden"><a href="huong-dan-mua-hang.html" title="Hướng dẫn mua online">Hướng dẫn mua online</a></li>
                <li class="hidden"><a href="b2b.html" title="Mua hàng doanh nghiệp">Bán hàng doanh nghiệp</a></li>
                <li class="hidden"><a href="phieu-mua-hang.html" title="Phiếu mua hàng">Phiếu mua hàng</a></li>
                <li class="hidden"><a href="http://hddt.thegioididong.com/" target="_blank" title="In hóa đơn điện tử" rel="nofollow noopener">In hóa đơn điện tử</a></li>
                <li class="hidden"><a href="tos.html" title="Quy chế hoạt động">Quy chế hoạt động</a></li>
                <li class="hidden"><a href="noi-quy-cua-hang.html" title="Nội quy cửa hàng">Nội quy cửa hàng</a></li>
                <li class="hidden"><a href="chat-luong-phuc-vu.html" title="Chất lượng phục vụ">Chất lượng phục vụ</a></li>
                <li class="hidden"><a href="trao-thuong.html" title="Thông tin trao thưởng">Thông tin trao thưởng</a></li>
            </ul>
            <ul class="colfoot">
                <li><a href="http://mwg.vn/" target="_blank" title="Giới thiệu công ty (mwg.vn)" rel="noopener">Giới thiệu công ty <span>(mwg.vn)</span></a></li>
                <li><a href="http://vieclam.thegioididong.com/" target="_blank" title="Tuyển dụng" rel="noopener">Tuyển dụng</a></li>
                <li><a href="lien-he.html" title="Gửi góp ý, khiếu nại">Gửi góp ý, khiếu nại</a></li>
                <li><a href="he-thong-sieu-thi-the-gioi-di-dong.html" title="Tìm siêu thị (1782  shop)">Tìm siêu thị <span>(1782 shop)</span></a></li>
                <li>
                    <a class="viewmb" rel="nofollow" href="javascript:window.location.href='index5888.html?sclient=mobile'" title="Xem bản mobile">Xem bản mobile</a>
                </li>
            </ul>
            <ul class="colfoot">
                <li>
                    <p>Gọi mua hàng <a href="tel:18001060">1800.1060</a> (7:30 - 22:00)</p>
                    <p>Gọi khiếu nại <a href="tel:18001062">1800.1062</a> (8:00 - 21:30)</p>
                    <p>Gọi bảo hành <a href="tel:18001064">1800.1064</a> (8:00 - 21:00)</p>
                    <p>Hỗ trợ kỹ thuật <a href="tel:18001763">1800.1763</a> (7:30 - 22:00)</p>
                    <a target="_blank" rel="nofollow noopener" class="bct" href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=20098" aria-label="bộ công thương mwg"><i class="icontgdd-bct"></i></a>
                    <a href="http://www.dmca.com/Protection/Status.aspx?ID=5b62e759-2a0c-4d86-b972-af903bfbc89d&amp;refurl=http://www.thegioididong.com/" title="DMCA.com Protection Status" class="dmca-badge"> <img style="opacity:0.01" src="../images.dmca.com/Badges/dmca-badge-w100-5x1-119b48.png?ID=5b62e759-2a0c-4d86-b972-af903bfbc89d" alt="DMCA.com Protection Status"></a>
                </li>
            </ul>
            <ul class="colfoot collast">
                <li>
                    <a target="_blank" href="https://facebook.com/thegioididongcom" class="linkfb" rel="noopener">
                        <i class="icontgdd-share1"></i>3.3tr
                    </a>
                    <a target="_blank" href="https://www.youtube.com/user/TGDDVideoReviews?sub_confirmation=1" class="linkyt" rel="noopener">
                        <i class="icontgdd-share3"></i>522.2k
                    </a>
                    <div class="group">
                        <label>Website cùng tập đoàn:</label>
                        <a href="http://www.dienmayxanh.com/" target="_blank" rel="noopener" class="dm" aria-label="www.dienmayxanh.com"><i class="iconlogo-dmx"></i></a>
                        <a href="http://www.bachhoaxanh.com/" target="_blank" rel="noopener" class="bhx" aria-label="www.bachhoaxanh.com"><i class="iconlogo-bhx"></i></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="rowfoot2">
            <p>© 2018. Công ty cổ phần Thế Giới Di Động. GPDKKD: 0303217354 do sở KH & ĐT TP.HCM cấp ngày 02/01/2007. GP số 56/GP-TTDT do Sở TTTT TP HCM cấp ngày 30/07/2018. Địa chỉ: 128 Trần Quang Khải, P. Tân Định, Q.1, TP.Hồ Chí Minh. Điện thoại: 18001060. Email: cskh@thegioididong.com. Chịu trách nhiệm nội dung: Trần Nhật Linh. <a href="tos.html">Xem chính sách sử dụng web</a></p>
        </div>
    </footer>
    <p id="back-top">
        <a href="#top" title="Về Đầu Trang"><span></span></a>
    </p>

    <script defer="defer" async="async" src='~/themes/TheGioiDiDong/images/cdn/v2015/Scripts/desktop/V5/home.min.v201812290450.js'></script>
    <!--#region CrazyEgg -->
    <!--#endregion -->
    <!--#region Hotjar -->
    <!--#endregion -->
    <div id="dlding">Đang xử lý, vui lòng đợi trong giây lát...</div>
    @RenderSection("scripts", required: false)
</body>

<!-- Mirrored from www.thegioididong.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 31 Dec 2018 12:49:46 GMT -->
</html>
