@model SimplCommerce.Module.Cms.Models.Page

@{
    ViewBag.Title = Model.MetaTitle ?? Model.Name;
}

@section additionalMeta {
    <meta name="title" content="@ViewBag.Title" />
    <meta name="keywords" content="@Model.MetaKeywords" />
    <meta name="description" content="@Model.MetaDescription" />
}

<style>
    .double-block .content-block.main {
        width: 890px !important;
    }
</style>
<div class="main-page left">

    <!-- BEGIN .single-block -->
    <div class="single-block">

        <!-- BEGIN .content-block -->
        <div class="content-block main left">

            <div class="block">
                <div class="block-title">
                    <h2> @Model.Name</h2>
                </div>
                <div class="block-content">
                    <div class="pageDetail">@Html.Raw(Model.Body)</div>
                </div>
            </div>
        </div>
    </div>
</div>
