@model IEnumerable<SimplCommerce.Module.News.Areas.News.ViewModels.NewsItemVm>
@if (Model.Count() > 0)
{
    <div class="blog-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h2>Tin tức <span>mới</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="blog-items">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 single-item">
                            <div class="item">
                                <div class="thumb">
                                    <a href="@item.Slug">
                                        <img src="@item.ThumbnailImageUrl" alt="@item.Name" style="min-height:300px">
                                        <div class="post-type">
                                            <i class="fas fa-images"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="info">
                                    <div class="meta">
                                        <ul>
                                            <li><a href="#">Admin</a></li>
                                            <li>@item.CreatedOn.ToString("dd/MM/yyyy")</li>
                                        </ul>
                                    </div>
                                    <h4>
                                        <a href="@item.Slug">@item.Name</a>
                                    </h4>
                                    @Html.Raw(item.ShortContent)
                                    <a class="btn btn-theme circle border btn-sm" href="@item.Slug">Đọc tiếp <i class="fas fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
}
