@using System.Threading.Tasks

@model SimplCommerce.Module.Search.Areas.Search.ViewModels.SearchResult
@{
    ViewBag.Title = "Tìm kiếm ";
}
<!-- Start Breadcrumb
    ============================================= -->
<div class="breadcrumb-area shadow dark bg-fixed text-light" style="background-image: url(/themes/Beauty/img/banner/banner.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Kết quả tìm kiếm cho @Model.CurrentSearchOption.Query</h2>
                <h4 class="badge-results">Có @Model.TotalProduct kết quả</h4>
            </div>
            <div class="col-md-6 text-right">
                <ul class="breadcrumb">
                    <li><a href="/"><i class="fas fa-home"></i> Trang chủ</a></li>
                    <li class="active">Tìm kiếm</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->
<!-- Start Services
============================================= -->
<div class="departments-area bg-gray default-padding bottom-less">
    <div class="container">
        <div class="row">
            <div class="department-items text-center">
                @foreach (var product in Model.Products)
                {
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <div class="thumb">
                                <a href="@product.Slug"><img src="@product.ThumbnailUrl" alt="@product.Name" style="max-height:250px"></a>
                            </div>
                            <div class="info">
                                <h5>
                                    <a href="@product.Slug">@product.Name</a>
                                </h5>
                                <ul>
                                    <li>
                                        Giá: @product.CalculatedProductPrice.Price.ToString("C0")
                                    </li>
                                    <li>
                                        <a href="@product.Slug">chi tiết</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <cs-pager cs-paging-pagesize="@Model.CurrentSearchOption.PageSize"
                              cs-paging-pagenumber="@Model.CurrentSearchOption.Page"
                              cs-paging-totalitems="@Model.TotalProduct"
                              cs-pagenumber-param="page"
                              asp-basehref="~/search"
                              asp-all-route-data="@Model.CurrentSearchOption.ToDictionary()"></cs-pager>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Services -->
@section scripts {
    <script simpl-append-version="true" src="~/lib/wnumb/wNumb.js"></script>
    <script simpl-append-version="true" src="~/lib/nouislider/distribute/nouislider.min.js"></script>

    <script>
        var productFilter = {};
        productFilter.currentSearchOption = @Html.Raw(Model.CurrentSearchOption.ToJson());
        productFilter.priceSetting = {
            min: @Model.FilterOption.Price.MinPrice.ToString("F0"),
            max: @Model.FilterOption.Price.MaxPrice.ToString("F0"),
            currentMin: @((Model.CurrentSearchOption.MinPrice ?? Model.FilterOption.Price.MinPrice).ToString("F0")),
            currentMax: @((Model.CurrentSearchOption.MaxPrice ?? Model.FilterOption.Price.MaxPrice).ToString("F0"))
        };
    </script>
    <script simpl-append-version="true" src="~/modules/catalog/product-filter.js"></script>
}
