@using System.Threading.Tasks

@model SimplCommerce.Module.Search.Areas.Search.ViewModels.SearchResult
@{
    ViewBag.Title = "Search";
}

@section head {
}

<div class="container">

    <div class="panel panel-tid">
        <div class="panel-heading">
            <span class="title-website">
                Số kết quả tìm thấy : @Model.TotalProduct
            </span>
        </div>
        <div class="panel-body">
            <div class="row resize-height-container" resize=".col-lg-4">
                @foreach (var product in Model.Products)
                {
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="list-product">
                            <a class="transition-light" href="@product.Slug" title="@product.Name">
                                <img src="@product.ThumbnailUrl" alt="@product.Name" class="width-100" />
                            </a>
                            <div class="tool-product">
                                <a href="@product.Slug" title="@product.Name"><span class="fa fa-list"></span></a>
                                <a href="http://www.facebook.com/sharer.php?u="@ViewBag.Host title="share product buttom"><span class="fa fa-share-alt"></span></a>
                            </div>
                            <h4><a href="@product.Slug" title="@product.Name">@product.Name</a></h4>
                        </div>
                    </div>
                }

            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <cs-pager cs-paging-pagesize="@Model.CurrentSearchOption.PageSize"
                              cs-paging-pagenumber="@Model.CurrentSearchOption.Page"
                              cs-paging-totalitems="@Model.TotalProduct"
                              cs-pagenumber-param="page"
                              asp-basehref="~/@Model.BrandSlug"
                              asp-all-route-data="@Model.CurrentSearchOption.ToDictionary()"></cs-pager>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {

}
