@model SimplCommerce.Module.News.Areas.News.ViewModels.NewsVm

@{
    ViewData["Title"] = "Tin tức";
}

<section id="page">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-md-3 right-widget-area">
                    <div class="well">
                        <div class="list-group">
                            @foreach (var item in Model.NewsCategory)
                            {
                                <a class="list-group-item depth-0" href="~/@item.Slug">@item.Name</a>
                            }

                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <h1 class="title">@Model.CurrentNewsCategory.Name</h1>  
                    <ul id="news_articles" class="list-group">
                        @foreach (var item in Model.NewsItem)
                        {
                            <a href="~/@item.Slug" class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <img class="img-thumbnail" src="@item.ImageUrl" alt="@item.Name">
                                    </div>
                                    <div class="col-sm-10">
                                        <h3><div class="row"><div class="col-sm-9 headline">@item.Name</div><div class="col-sm-3"><small class="pull-right hidden-xs"> 1 July 2020</small><small class="visible-xs">@item.PublishedOn.ToLocalTime()</small></div></div></h3><p>
                                            @Html.Raw(item.ShortContent)
                                        </p>
                                    </div>
                                </div>
                            </a>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row">
    <div class="col-md-12 text-right">
        <cs-pager cs-paging-pagesize="@Model.PageSize"
                  cs-paging-pagenumber="@Model.Page"
                  cs-paging-totalitems="@Model.TotalItem"
                  asp-basehref="~/@Model.CurrentNewsCategory.Slug"
                  cs-pagenumber-param="page"></cs-pager>
    </div>
</div>

