@model SimplCommerce.Module.Catalog.Areas.Catalog.ViewModels.ProductDetail
@using System.Text.RegularExpressions;
@{
    ViewBag.Title = Model.MetaTitle ?? Model.Name;
}

@section additionalMeta {
    <meta name="title" content="@ViewBag.Title" />
    <meta name="keywords" content="@Model.MetaKeywords" />
    <meta name="description" content="@Model.MetaDescription" />
}
<!-- Start Breadcrumb
   ============================================= -->
<div class="breadcrumb-area shadow dark bg-fixed text-light" style="background-image: url(/themes/Beauty/img/banner/banner.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-theme effect btn-md" data-toggle="modal" data-target="#modal-reg">Đăng ký</a>
            </div>
            <div class="col-md-6 text-right">
                <ul class="breadcrumb">
                    <li><a href="/"><i class="fas fa-home"></i> Trang chủ</a></li>
                    @if (@Model.Categories.FirstOrDefault() != null)
                    {
                        <li class="active"><a href="@Model.Categories.FirstOrDefault()?.Slug">@Model.Categories.FirstOrDefault()?.Name</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->
<!-- Start Blog
============================================= -->
<div class="blog-area single full-blog right-sidebar default-padding">
    <div class="container">
        <div class="row">
            <div class="blog-items">
                <div class="blog-content col-md-8">
                    <div class="item">

                        <!-- Start Post Thumb -->
                        <div class="thumb">
                            <img src="@Model.ThumbnailImage" alt="Thumb">
                            <div class="post-type">
                                <i class="fas fa-images"></i>
                            </div>
                        </div>
                        <!-- Start Post Thumb -->

                        <div class="info">
                            <h3>@Model.Name</h3>
                            <blockquote>
                                @Html.Raw(Model.ShortDescription)
                            </blockquote>

                            <!-- Start Post Pagination -->
                            <div class="post-pagi-area">
                                <a href="#"><i class="fas fa-angle-double-left"></i> Trước</a>
                                <a href="#">Sau <i class="fas fa-angle-double-right"></i></a>
                            </div>
                            <!-- End Post Pagination -->
                        </div>
                    </div>
                </div>

                <!-- Start Sidebar -->
                <div class="sidebar col-md-4">
                    <aside>
                        <div class="sidebar-item search">
                            <div class="title">
                                <h4>Tìm kiếm</h4>
                            </div>
                            <div class="sidebar-info">
                                <form action="search" method="get">
                                    <input type="text" class="form-control" name="query">
                                    <input type="submit" value="Gửi">
                                </form>
                            </div>
                        </div>
                        @await Component.InvokeAsync("NewItem")

                        <div class="sidebar-item social-sidebar">
                            <div class="title">
                                <h4>Chia sẻ bài viết này</h4>
                            </div>
                            <div class="sidebar-info">
                                <ul>
                                    <li class="facebook">
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                </div>
                <!-- End Start Sidebar -->
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-reg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Đăng ký khóa học: @Model.Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="/ShoppingCart/cart/add-item" accept-charset="UTF-8" id="userRegisterForm" class="reg-form-container">
                    <input type="hidden" name="productId" id="productId" value="@Model.Id" />
                    <div class="form-group">
                        <label for="contactName" class="col-form-label">Họ và tên:</label>
                        <input type="text" class="form-control" id="contactName" name="contactName" required>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-form-label">Số điện thoại:</label>
                        <input type="number" class="form-control" id="phone" name="phone" required>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-form-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-theme effect btn-md" id="btn-reg">Đăng ký</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="modal-success">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn đã đăng ký thành công. Chúng tôi sẽ liên lạc với bạn sớm</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
