@model SimplCommerce.Module.Contacts.Areas.Contacts.ViewModels.ContactVm
@inject IConfiguration Config

@{
    ViewData["Title"] = "Contact Us";
}
<style>
    .double-block .content-block.main {
        width: 890px !important;
    }
    .field-validation-error{
        color: #bf0d0d;
    }
</style>
<div class="main-page left">

    <!-- BEGIN .single-block -->
    <div class="single-block">


        <!-- BEGIN .content-block -->
        <div class="content-block main left">

            <div class="block">
                <div class="block-content">
                    <div class="article-title">
                        <div class="block-title">
                            <h2>@Localizer["Liên hệ"]</h2>
                        </div>
                        <div class="block-content">
                            <div id="writecomment">
                                <form class="form-horizontal" action="/contact" method="POST">
                                    <p class="contact-form-user">
                                        <label for="c_name">@Localizer["Họ tên"]<span class="required">*</span></label>
                                        <input asp-for="FullName" class="form-control input-contact" type="text" placeholder="@Localizer["Họ tên"]" required />
                                        <span asp-validation-for="FullName" class="text-danger"></span>
                                    </p>
                                    <p class="contact-form-user">
                                        <label for="c_name">@Localizer["Số điện thoại"]<span class="required">*</span></label>
                                        <input asp-for="PhoneNumber" class="form-control input-contact" type="text" placeholder="@Localizer["Số điện thoại"]" required />
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </p>
                                    <p class="contact-form-email">
                                        <label for="c_email">@Localizer["Email"]<span class="required">*</span></label>
                                        <input asp-for="EmailAddress" class="form-control input-contact" type="text" placeholder="@Localizer["Email"] "required />
                                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                                    </p>
                                    <p class="contact-form-user">
                                        <label for="c_name">@Localizer["Địa chỉ"]<span class="required">*</span></label>
                                        <input asp-for="Address" class="form-control input-contact" type="text" placeholder="@Localizer["Địa chỉ"]" />
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </p>
                                    <p class="contact-form-message">
                                        <label for="c_message">@Localizer["Nội dung"]<span class="required">*</span></label>
                                        <textarea class="form-control input-contact" rows="5" asp-for="Content" required></textarea>
                                        <span asp-validation-for="Content" class="text-danger"></span>
                                    </p>
                                    <p>
                                        <input type="submit" class="styled-button" value="@Localizer["Gửi đi"]" />
                                    </p>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script simpl-append-version="true" src="~/modules/contacts/init-google-map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=@Config["GoogleAppKey"]&callback=initMap"></script>
}
