@model IList<SimplCommerce.Module.Catalog.Areas.Catalog.ViewModels.ProductThumbnail>
<h4 class="related-posts-main-title"><i class="fa fa-thumbs-up"></i><span>Bạn cũng có thể thích</span></h4>
<div class="related-posts clearfix">
    @foreach (var product in Model)
    {
        <div class="single-related-posts">
            <div class="related-posts-thumbnail"> <a href="@product.Slug" title="Solar eclipse: Eye health warning"> <img width="390" height="205" src="@product.ThumbnailUrl" class="attachment-colormag-featured-post-medium size-colormag-featured-post-medium wp-post-image" alt=""> </a></div>
            <div class="article-content">
                <h3 class="entry-title"> <a href="@product.Slug" rel="bookmark" title="@product.Name">@product.Name</a></h3>
                <div class="below-entry-meta"> <span class="posted-on"><a href="@product.Slug" title="9:43 am" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="2015-03-24T09:43:30+00:00">@product.CreatedOn.ToString("dd/MM/yyyy hh:mm")</time></a></span> <span class="byline">
                    <span class="author vcard">
                    <i class="fa fa-user"></i>
                    </span></span> </div>
            </div>
        </div>
    }
</div>
