@model IEnumerable<SimplCommerce.WebHost.Models.ChuRung>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách chủ rừng</h2>

<p>
    <a class="btn btn-primary pull-right" style="float:right" asp-action="Create"><i class="fas fa-plus"></i>Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenChuRung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaSo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToChuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenChuRung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToChuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pencil-alt"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
