@model SimplCommerce.Module.Catalog.Areas.Catalog.ViewModels.ProductWidgetComponentVm

    <!-- home products -->
@*<div class="row navigat ">
    <h2>@Model.WidgetName</h2>
    <div class="viewallcat">
        @foreach (var brand in Model.Brands)
        {
            if (brand != null)
            {
                <a href="@brand.Slug"> @brand.Name</a>
            }

        }
    </div>
</div>
<div class="row homeproduct">
    @foreach (var product in Model.Products)
    {
        <div class="item-product col-md-2">
            <partial name="/Themes/TheGioiDiDong/Areas/Catalog/Views/Shared/_ProductThumbnail.cshtml" model="product" />
        </div>
    }
</div>*@

@*<section class="product-home">
    <div class="container">
        <div class="pro-head d-flex justify-content-between">
            <div class="title">
                <h3><a href="laptop-cu/c2b8dc.html?filter=%2C539%2C">@Model.WidgetName</a></h3>
            </div>
            <div class="filter-price d-flex align-items-center">
                <span>Mức giá:</span>
                <ul class="d-flex m-0">
                    <li><a href="laptop-cu/c2c888.html?filter=%2C539%2C&amp;max=15000000&amp;min=10000000">10 Triệu - 15 Triệu</a></li>
                    <li><a href="laptop-cu/c25fd2.html?filter=%2C539%2C&amp;min=15000000">Trên 15 Triệu</a></li>
                </ul>
            </div>
        </div>
   
            <div class="row homeproduct">
                @foreach (var product in Model.Products)
                {
                    <div class="col-sm-6 col-md-2 item-product">
                        <partial name="/Themes/TheGioiDiDong/Areas/Catalog/Views/Shared/_ProductThumbnail.cshtml" model="product" />
                    </div>
                }
            </div>

    </div>
</section>*@


<section class="product-home">
    <div class="container">
        <div class="pro-head d-flex justify-content-between">
            <div class="title">
                <h3><a href="laptop-cu/c2.html-1?filter=%2C537%2C">@Model.WidgetName</a></h3>
            </div>
            <div class="filter-price d-flex align-items-center">
                <span>Mức giá:</span>
                <ul class="d-flex m-0">
                    <li><a href="/laptop-cu/c2.html-1?filter=%2C537%2C&amp;max=5000000">Dưới 5 Triệu</a></li>
                    <li><a href="/laptop-cu/c2.html-1?filter=%2C537%2C&amp;max=7000000&amp;min=5000000">5 Triệu - 7 Triệu</a></li>
                    <li><a href="/laptop-cu/c2.html-1?filter=%2C537%2C&amp;max=10000000&amp;min=7000000">7 Triệu - 10 Triệu</a></li>
                    <li><a href="/laptop-cu/c2.html-1?filter=%2C537%2C&amp;max=15000000&amp;min=10000000">10 Triệu - 15 Triệu</a></li>
                    <li><a href="/laptop-cu/c2.html-1?filter=%2C537%2C&amp;min=15000000">Trên 15 Triệu</a></li>
                </ul>
            </div>
        </div>
        <div class="p-list d-flex">


            <div class="p-item p-item-1 d-flex flex-wrap col-sm-6">
                <div class="p-img">
                    <a href="@Model.Setting.ImageUrl"><img src="@Model.Setting.ImageUrl" alt=" " style="height: auto; width: auto;"></a>
                </div>
            </div>


            @foreach (var product in Model.Products.Take(3))
            {
                <div class="p-item js-p-item col-sm-6">
                    <div class="p-img">
                        <a href="~/@product.Slug" class="p-img">
                            <img src="@product.ThumbnailUrl" alt="@product.Name" style="height: auto; width: auto;">
                        </a>
                    </div>

                    <div class="p-emtry">
                        <a href="~/@product.Slug" class="p-name">@product.Name</a>
                        <span class="p-summary">
                            @{if (product.Categories.Where(m => m.Category?.ParentId == 4).FirstOrDefault() != null)
                                {
                                    <span class="dotted">@product.Categories.Where(m => m.Category?.ParentId == 17).FirstOrDefault().Category?.Name</span>
                                }
                            }
                            @{if (product.Categories.Where(m => m.Category?.ParentId == 1).FirstOrDefault() != null)
                                {
                                    <span class="dotted">Ram: @product.Categories.Where(m => m.Category?.ParentId == 18).FirstOrDefault().Category?.Name</span>
                                }
                            }
                        </span>
                        <span class="p-price">@product.CalculatedProductPrice.Price.ToString("C0")</span>
                    </div>
                    <div class="p-hover">
                        <a href="{{productUrl}}" class="p-name">@product.Name</a>
                        <span class="p-price">@product.CalculatedProductPrice.Price.ToString("C0")</span>
                        <p class="mb-0"><strong>Bảo hành: </strong> <span></span></p><p>✅Bảo hành chính hãng Asus Việt Nam 24 tháng</p>
                        <p>✅Giá ở trên đã bao gồm 10% VAT</p>
                        <p><strong>Kho hàng: </strong> <span>Còn hàng</span></p>
                        <hr>
                        <div class="p-summary">
                            <strong>Mô tả tóm tắt</strong>


                            Laptop giá rẻ cấu hình tốt
                            <br>

                            Tặng thẻ Gold Member trị giá 3.000.000đ<br>

                        </div>
                        <hr>
                    </div>
                </div>
            }


        </div>
    </div>
</section>
