@model SimplCommerce.Module.News.Areas.News.ViewModels.NewsItemVm
@section additionalMeta {
    <meta name="title" content="@ViewBag.Title" />
    <meta name="keywords" content="@Model.MetaKeywords" />
    <meta name="description" content="@Model.MetaDescription" />
}

@{
    ViewData["Title"] = Model.Name;
}
@*<section>

        <article>
            <h1 class="titledetail">@Model.Name</h1>

            <div class="userdetail">

            </div>

            <div class="imgwrap"><img alt="tet-huawei" data-original="@Model.ThumbnailImageUrl" src="@Model.ThumbnailImageUrl" title="tet-huawei"></div>

            <div class="news-item-full-description">
                @Html.Raw(Model.FullContent)
            </div>
            @await Component.InvokeAsync("NewItemRelate", Model.Id)
        </article>

    </section>*@
<div class="container padding-top margin-top">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">

            <div class="panel panel-tid" itemscope itemtype="http://schema.org/Article">
                <h1 class="panel-heading tid-background" itemprop="name">
                    @Model.Name
                </h1>
                <div class="panel-body view-content">
                    <div class="content-more share-content-social text-right">
                        <span class="time-post-news"> <i class="fa fa-eye"></i> @Model.CreatedOn.ToString("dd/MM/yyyy")</span>
                    </div>
                    <div itemprop="articleBody">
                        @Html.Raw(Model.FullContent)
                    </div>
                    <div class="share-content-social text-right">
                        <span>Chia sẻ bài viết : </span>
                        <a href="http://www.facebook.com/sharer.php?u=@ViewBag.Host" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="http://twitter.com/share?url=@ViewBag.Host&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://plus.google.com/share?url=@ViewBag.Host" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <div class="fb-comment">
                    </div>
                    <script language="javascript" type="text/javascript">
                $(document).ready(function(e) {
                    $('.fb-comment').html('<div class="fb-comments" data-href="@ViewBag.Host" data-numposts="5" data-colorscheme="light" data-width="' + $('.fb-comment').width() + '"></div>');
                });
                    </script>
                </div>
            </div>
           
          
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

            <div class="panel panel-tid">
                <div class="panel-heading">
                    Tin Tức
                </div>
                <div class="panel-body right-content news-right-content">
                    @await Component.InvokeAsync("NewItemRelate", Model.Id)
                 
                </div>
            </div>
        </div>
    </div>
</div>
