@model SimplCommerce.Module.News.Areas.News.ViewModels.NewsVm

@{
    ViewData["Title"] = "Tin tức ";
}
@*<section id="page">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-md-3 right-widget-area">
                        <div class="well">
                            <div class="list-group">
                                @foreach (var item in Model.NewsCategory)
                                {
                                    <a class="list-group-item depth-0 active" href="~/@item.Slug">@item.Name</a>
                                }
                            </div>
                        </div>
                        <div class="row content-block-widget"><div class="col-xs-12"><div class="alert alert-info right"><h3>PEFC GLOBAL STATISTICS</h3><p>Forests area: 325 million ha<br>Forest owners: &gt; 750,000<br>Companies (CoC): 20,000</p></div></div></div>
                    </div><div class="col-md-9">
                        <h1 class="title">News</h1>  <ul id="news_articles" class="list-group">
                            @foreach (var item in Model.NewsItem)
                            {
                                <a href="@item.Slug" class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <img class="img-thumbnail" src="@item.ImageUrl" alt="@item.Name">
                                        </div>
                                        <div class="col-sm-10">
                                            <h3>
                                                <div class="row">
                                                    <div class="col-sm-9 headline">@item.Name</div>
                                                    <div class="col-sm-3"><small class="pull-right hidden-xs">  @item.PublishedOn.ToString("dd/MM/yyyy hh:mm")</small><small class="visible-xs"> @item.PublishedOn.ToString("dd/MM/yyyy hh:mm")</small></div>
                                                </div>
                                            </h3>
                                            <p>
                                                @Html.Raw(item.ShortContent)
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

<section id="page">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-md-3 right-widget-area"><div class="well"><div class="list-group"><a class="list-group-item depth-0 active" href="news_articles.html">News</a><a class="list-group-item depth-0" href="publications.html">Publications</a><a class="list-group-item depth-0" href="news-publications/infographics.html">Infographics</a><a class="list-group-item depth-0" href="news-publications/pefc-case-studies.html">PEFC Case Studies</a><a class="list-group-item depth-0" href="news-publications/construction-case-studies.html">Construction Case Studies</a><a class="list-group-item depth-0" href="news-publications/project-certification-case-studies.html">Project Certification Case Studies</a><a class="list-group-item depth-0" href="news-publications/videos.html">Videos</a><a class="list-group-item depth-0" href="events.html">Events</a><a class="list-group-item depth-0" href="news-publications/press-information.html">Press Information</a></div></div><div class="row content-block-widget"><div class="col-xs-12"><div class="alert alert-info right"><h3>PEFC GLOBAL STATISTICS</h3><p>Forests area: 325 million ha<br>Forest owners: &gt; 750,000<br>Companies (CoC): 20,000</p></div></div></div></div><div class="col-md-9">
                    <h1 class="title">News</h1>  <ul id="news_articles" class="list-group">
                        <a href="news_articles/public-announcement-of-ukwas-review-and-call-for-stakeholder-input.html" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img class="img-thumbnail" src="system/images/W1siZiIsIjIwMjAvMDMvMTEvNzFrNnIweDZsal9VS1dBU19sb2dvX3NtYWxsLmpwZyJdLFsicCIsInRodW1iIiwiMTAweDEwMCMiXV0/UKWAS%20logo%20small.jpg" alt="Ukwas%20logo%20small">
                                </div>
                                <div class="col-sm-10">
                                    <h3><div class="row"><div class="col-sm-9 headline">Public announcement of UKWAS review and call for stakeholder input</div><div class="col-sm-3"><small class="pull-right hidden-xs"> 1 July 2020</small><small class="visible-xs"> 1 July 2020</small></div></div></h3><p>
                                        The beginning of a formal process to review and, if thought necessary, revise the UKWAS certification standard was announced today by the UKWAS steering group.
                                        The current 4th edit...
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="news_articles/ukwas-review-working-group-appointed.html" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img class="img-thumbnail" src="system/images/W1siZiIsIjIwMjAvMDMvMTEvNzFrNnIweDZsal9VS1dBU19sb2dvX3NtYWxsLmpwZyJdLFsicCIsInRodW1iIiwiMTAweDEwMCMiXV0/UKWAS%20logo%20small.jpg" alt="Ukwas%20logo%20small">
                                </div>
                                <div class="col-sm-10">
                                    <h3><div class="row"><div class="col-sm-9 headline">UKWAS Review Working Group Appointed</div><div class="col-sm-3"><small class="pull-right hidden-xs">29 June 2020</small><small class="visible-xs">29 June 2020</small></div></div></h3><p>The UKWAS steering group is pleased to announce the appointment of a multi-chamber working group to take forward the review and, if considered necessary, the revision of the UKWAS s...</p>
                                </div>
                            </div>
                        </a>
                        <a href="news_articles/pefc-webinar-creating-impact-through-responsibly-sourced-packaging.html" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img class="img-thumbnail" src="system/images/W1siZiIsIjIwMjAvMDYvMDQvODRwMGwxYTJ2a19QYWNrYWdpbmdfd2ViaW5hcl9zbWFsbC5wbmciXSxbInAiLCJ0aHVtYiIsIjEwMHgxMDAjIl1d/Packaging%20webinar%20small.png" alt="Packaging%20webinar%20small">
                                </div>
                                <div class="col-sm-10">
                                    <h3><div class="row"><div class="col-sm-9 headline">PEFC Webinar: Creating impact through responsibly sourced packaging</div><div class="col-sm-3"><small class="pull-right hidden-xs"> 4 June 2020</small><small class="visible-xs"> 4 June 2020</small></div></div></h3><p>Sustainable consumption is on the rise. A Nielsen study found that 73% of global consumers say they would change their consumption habits to reduce their environment impact. This me...</p>
                                </div>
                            </div>
                        </a>
                        <a href="news_articles/covid-19-guidance-for-certification-bodies-and-certified-companies.html" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img class="img-thumbnail" src="system/images/W1siZiIsIjIwMTgvMDIvMjIvMmp0ZzM2aWlwcF9zbWFsbF9sb2dvX2ltYWdlLmpwZyJdLFsicCIsInRodW1iIiwiMTAweDEwMCMiXV0/small%20logo%20image.jpg" alt="Small%20logo%20image">
                                </div>
                                <div class="col-sm-10">
                                    <h3><div class="row"><div class="col-sm-9 headline">COVID-19: Guidance for certification bodies and certified companies</div><div class="col-sm-3"><small class="pull-right hidden-xs">26 May 2020</small><small class="visible-xs">26 May 2020</small></div></div></h3><p>To support certified entities and certification bodies during the effects of COVID-19 worldwide, we have produced guidance regarding auditing (chain of custody and sustainable fores...</p>
                                </div>
                            </div>
                        </a>
                        <a href="news_articles/ukwas-review-process-kicks-off-with-call-for-stakeholder-volunteers.html" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img class="img-thumbnail" src="system/images/W1siZiIsIjIwMjAvMDMvMTEvNzFrNnIweDZsal9VS1dBU19sb2dvX3NtYWxsLmpwZyJdLFsicCIsInRodW1iIiwiMTAweDEwMCMiXV0/UKWAS%20logo%20small.jpg" alt="Ukwas%20logo%20small">
                                </div>
                                <div class="col-sm-10">
                                    <h3><div class="row"><div class="col-sm-9 headline">UKWAS review process kicks off with call for stakeholder volunteers</div><div class="col-sm-3"><small class="pull-right hidden-xs">11 March 2020</small><small class="visible-xs">11 March 2020</small></div></div></h3><p>
                                        Preparations for the next UKWAS review and revision are well under way and the UKWAS steering group is looking for stakeholders to express interest in participating.&nbsp;
                                        A new standar...
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="news_articles/best-use-of-certified-timber-pefc-and-waf-continue-partnership.html" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img class="img-thumbnail" src="system/images/W1siZiIsIjIwMjAvMDIvMjYvNW04Y2lqbnVzcF9XQUZfMjAyMC5qcGciXSxbInAiLCJ0aHVtYiIsIjEwMHgxMDAjIl1d/WAF%202020.jpg" alt="Waf%202020">
                                </div>
                                <div class="col-sm-10">
                                    <h3><div class="row"><div class="col-sm-9 headline">“Best Use of Certified Timber” – PEFC and WAF continue partnership</div><div class="col-sm-3"><small class="pull-right hidden-xs">26 February 2020</small><small class="visible-xs">26 February 2020</small></div></div></h3><p>Are you an architect or part of a project team that has recognised the many benefits of timber as a construction material? Did you choose certified timber as the main material for y...</p>
                                </div>
                            </div>
                        </a>
                        <a href="news_articles/pefc-sponsors-trada-s-university-challenge-e92de9f6-646c-4295-9621-46c869a90d9b.html" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img class="img-thumbnail" src="system/images/W1siZiIsIjIwMjAvMDIvMTAvNjZ5dGg1NnJlOF9JbWFnZV9/Image%20-%20TRADA%20University%20Challenge%202020.jpg" alt="Image%20 %20trada%20university%20challenge%202020">
                                </div>
                                <div class="col-sm-10">
                                    <h3><div class="row"><div class="col-sm-9 headline">PEFC Sponsors TRADA'S University Challenge</div><div class="col-sm-3"><small class="pull-right hidden-xs">10 February 2020</small><small class="visible-xs">10 February 2020</small></div></div></h3><p>PEFC UK is proud to sponsor TRADA’s 2020 University Challenge for a second year. As the world’s leading forest certification system, we recognise the importance of raising awareness...</p>
                                </div>
                            </div>
                        </a>
                        <a href="news_articles/revised-standards-approved-by-the-pefc-general-assembly.html" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img class="img-thumbnail" src="system/images/W1siZiIsIjIwMTgvMDIvMjIvMmp0ZzM2aWlwcF9zbWFsbF9sb2dvX2ltYWdlLmpwZyJdLFsicCIsInRodW1iIiwiMTAweDEwMCMiXV0/small%20logo%20image.jpg" alt="Small%20logo%20image">
                                </div>
                                <div class="col-sm-10">
                                    <h3><div class="row"><div class="col-sm-9 headline">Revised standards approved by the PEFC General Assembly</div><div class="col-sm-3"><small class="pull-right hidden-xs">23 January 2020</small><small class="visible-xs">23 January 2020</small></div></div></h3><p>Three standards that further strengthen PEFC’s Sustainability Benchmarks and assist in safeguarding forests globally have been approved by the PEFC General Assembly. The revised sta...</p>
                                </div>
                            </div>
                        </a>
                        <a href="news_articles/pefc-and-forests-your-climate-change-solution.html" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img class="img-thumbnail" src="system/images/W1siZiIsIjIwMjAvMDEvMTMvNDI1OXBqNGlrbl9DbGltYXR/Climate%20change%20Brochure-page%2080x80.jpg" alt="Climate%20change%20brochure page%2080x80">
                                </div>
                                <div class="col-sm-10">
                                    <h3><div class="row"><div class="col-sm-9 headline">PEFC and Forests: Your Climate Change Solution</div><div class="col-sm-3"><small class="pull-right hidden-xs">13 January 2020</small><small class="visible-xs">13 January 2020</small></div></div></h3><p>Climate change is affecting us all.  PEFC work to ensure the world's forests can deliver their full contribution to our climate change actions.  But we can't do it alone, together, ...</p>
                                </div>
                            </div>
                        </a>
                        <a href="news_articles/pefc-prize-celebrates-timber-at-the-heart-of-a-community.html" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img class="img-thumbnail" src="system/images/W1siZiIsIjIwMTkvMTIvMTIvOHl2bmczY2YzN19XQUZfMjA/WAF%202019%20Logo%20-%20Dates%20small.png" alt="Waf%202019%20logo%20 %20dates%20small">
                                </div>
                                <div class="col-sm-10">
                                    <h3><div class="row"><div class="col-sm-9 headline">PEFC Prize Celebrates Timber at the Heart of a Community </div><div class="col-sm-3"><small class="pull-right hidden-xs">12 December 2019</small><small class="visible-xs">12 December 2019</small></div></div></h3><p>The wait is finally over.  On 6 December 2019, 11 finalists presented their projects to a special jury at the World Architecture Festival (WAF) in Amsterdam to see who would walk aw...</p>
                                </div>
                            </div>
                        </a>
                        <a href="news_articles/trafalgar-tree-arrives-in-sustainable-style.html" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img class="img-thumbnail" src="system/images/W1siZiIsIjIwMTYvMTIvMTQvMTQ2c3kwa2JjbV8yMDE2X3RyZWVfc21hbGwuSlBHIl0sWyJwIiwidGh1bWIiLCIxMDB4MTAwIyJdXQ/2016%20tree%20small.JPG" alt="2016%20tree%20small">
                                </div>
                                <div class="col-sm-10">
                                    <h3><div class="row"><div class="col-sm-9 headline">Trafalgar Tree arrives in Sustainable Style</div><div class="col-sm-3"><small class="pull-right hidden-xs"> 6 December 2019</small><small class="visible-xs"> 6 December 2019</small></div></div></h3><p>The iconic Norweigan spruce has arrived in sustainable style in London’s Trafalgar Square.  The Christmas Tree, which is lit on 5th December is the tradition of an annual gift from ...</p>
                                </div>
                            </div>
                        </a>
                        <a href="news_articles/star-role-for-pefc-timber-at-bristol-old-vic.html" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img class="img-thumbnail" src="system/images/W1siZiIsIjIwMTgvMDIvMjIvMmp0ZzM2aWlwcF9zbWFsbF9sb2dvX2ltYWdlLmpwZyJdLFsicCIsInRodW1iIiwiMTAweDEwMCMiXV0/small%20logo%20image.jpg" alt="Small%20logo%20image">
                                </div>
                                <div class="col-sm-10">
                                    <h3><div class="row"><div class="col-sm-9 headline">Star Role for PEFC Timber at Bristol Old Vic</div><div class="col-sm-3"><small class="pull-right hidden-xs">13 November 2019</small><small class="visible-xs">13 November 2019</small></div></div></h3><p>As the oldest continually used theatre in the English-speaking world – dating back to 1766 – the Bristol Old Vic has recently undergone a huge £9.3 million makeover and has been giv...</p>
                                </div>
                            </div>
                        </a>
                        <a href="news_articles/pefc-company-spotlight-cheshire-mouldings.html" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img class="img-thumbnail" src="system/images/W1siZiIsIjIwMTkvMTAvMjkvN3N1MGN6Z3pydl9DaGVzaGl/Cheshire-Mouldings%20small.jpg" alt="Cheshire mouldings%20small">
                                </div>
                                <div class="col-sm-10">
                                    <h3><div class="row"><div class="col-sm-9 headline">PEFC Company Spotlight - Cheshire Mouldings</div><div class="col-sm-3"><small class="pull-right hidden-xs">29 October 2019</small><small class="visible-xs">29 October 2019</small></div></div></h3><p>Congratulations to PEFC member company Cheshire Mouldings and Woodturnings who were recently recognised in the London Stock Exchange Group’s ‘1,000 Companies to Inspire Britain’ 201...</p>
                                </div>
                            </div>
                        </a>
                        <a href="news_articles/pefc-ab-group-packaging-push-sustainability-on-european-paper-bag-day.html" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img class="img-thumbnail" src="system/images/W1siZiIsIjIwMTkvMTAvMTYvNDdwcTBvdGRndF9Db2xvdXJmdWxfYmFnX3BpY19zbWFsbC5qcGciXSxbInAiLCJ0aHVtYiIsIjEwMHgxMDAjIl1d/Colourful%20bag%20pic%20small.jpg" alt="Colourful%20bag%20pic%20small">
                                </div>
                                <div class="col-sm-10">
                                    <h3><div class="row"><div class="col-sm-9 headline">PEFC &amp; AB Group Packaging Push Sustainability on European Paper Bag Day</div><div class="col-sm-3"><small class="pull-right hidden-xs">16 October 2019</small><small class="visible-xs">16 October 2019</small></div></div></h3><p>PEFC and AB Group Packaging are working hard to promote sustainable alternatives to plastic packaging. European Paper Bag day is an annual day of action which aims to raise consumer...</p>
                                </div>
                            </div>
                        </a>
                        <a href="news_articles/just-published-pefc-uk-newsletter-october-2019.html" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img class="img-thumbnail" src="system/images/W1siZiIsIjIwMTgvMDIvMjIvMmp0ZzM2aWlwcF9zbWFsbF9sb2dvX2ltYWdlLmpwZyJdLFsicCIsInRodW1iIiwiMTAweDEwMCMiXV0/small%20logo%20image.jpg" alt="Small%20logo%20image">
                                </div>
                                <div class="col-sm-10">
                                    <h3><div class="row"><div class="col-sm-9 headline">Just Published: PEFC UK Newsletter October 2019</div><div class="col-sm-3"><small class="pull-right hidden-xs"> 9 October 2019</small><small class="visible-xs"> 9 October 2019</small></div></div></h3><p>October has come around quickly, we have had our Annual Stakeholder meeting which was focusing on Innovative Solutions to global challenges.&nbsp; We highlight the latest design by Steua...</p>
                                </div>
                            </div>
                        </a>
                        <a href="news_articles/talk-to-me-sculpture-speaks-pefc-certification.html" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img class="img-thumbnail" src="system/images/W1siZiIsIjIwMTkvMDkvMTYvNjR4NXZpd3Y3Ml9UYWxrX3R/Talk%20to%20me%20close%20up%20thumb.jpg" alt="Talk%20to%20me%20close%20up%20thumb">
                                </div>
                                <div class="col-sm-10">
                                    <h3><div class="row"><div class="col-sm-9 headline">Talk to Me Sculpture Speaks PEFC-Certification</div><div class="col-sm-3"><small class="pull-right hidden-xs">16 September 2019</small><small class="visible-xs">16 September 2019</small></div></div></h3><p>Two new 5.5 metre interactive sculptures, situated in Kings Cross, London will greet locals and commuters this week in a bid to further the conversation about the capital’s mental h...</p>
                                </div>
                            </div>
                        </a>
                        <a href="news_articles/shortlisted-construction-projects-for-world-architecture-festival-waf.html" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img class="img-thumbnail" src="system/images/W1siZiIsIjIwMTgvMDcvMTIvNHVzbGpndGQzMl9tYWNhbGxhbjFfc21hbGwuanBnIl0sWyJwIiwidGh1bWIiLCIxMDB4MTAwIyJdXQ/macallan1%20small.jpg" alt="Macallan1%20small">
                                </div>
                                <div class="col-sm-10">
                                    <h3><div class="row"><div class="col-sm-9 headline">Shortlisted Construction Projects for World Architecture Festival</div><div class="col-sm-3"><small class="pull-right hidden-xs">22 July 2019</small><small class="visible-xs">22 July 2019</small></div></div></h3><p>A helical tower, a moving kiosk, a ship-shaped home and much more: WAF has chosen the eleven finalists for the Best Use of Certified Timber Prize supported by PEFC – and we are impr...</p>
                                </div>
                            </div>
                        </a>
                        <a href="news_articles/pefc-company-spotlight-forest-holidays.html" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img class="img-thumbnail" src="system/images/W1siZiIsIjIwMTUvMTIvMDMvOHUzOWZ1ZjgxeV9QRUZDZm9yZXN0LmpwZyJdLFsicCIsInRodW1iIiwiMTAweDEwMCMiXV0/PEFCforest.jpg" alt="Pefcforest">
                                </div>
                                <div class="col-sm-10">
                                    <h3><div class="row"><div class="col-sm-9 headline">PEFC Company Spotlight - Forest Holidays</div><div class="col-sm-3"><small class="pull-right hidden-xs">12 July 2019</small><small class="visible-xs">12 July 2019</small></div></div></h3><p>New PEFC Certificate holder, Forest Holidays, offer holiday accommodation which is situated on 10 sites in beautiful corners of the UK’s forests. These forests are managed by Forest...</p>
                                </div>
                            </div>
                        </a>
                        <a href="news_articles/just-published-pefc-uk-newsletter-july-ffa703d1-286f-4ca1-9d3b-2488743f96d4.html" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img class="img-thumbnail" src="system/images/W1siZiIsIjIwMTgvMDIvMjIvMmp0ZzM2aWlwcF9zbWFsbF9sb2dvX2ltYWdlLmpwZyJdLFsicCIsInRodW1iIiwiMTAweDEwMCMiXV0/small%20logo%20image.jpg" alt="Small%20logo%20image">
                                </div>
                                <div class="col-sm-10">
                                    <h3><div class="row"><div class="col-sm-9 headline">Just Published: PEFC UK Newsletter July</div><div class="col-sm-3"><small class="pull-right hidden-xs">11 July 2019</small><small class="visible-xs">11 July 2019</small></div></div></h3><p>
                                        It has been a busy few months for the PEFC UK team, with our first event for the fashion sector held in London in May and our field trips in Lockerbie and Windsor Great Park.&nbsp;
                                        We n...
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="news_articles/pefc-20th-anniversary-celebrate-with-us.html" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img class="img-thumbnail" src="system/images/W1siZiIsIjIwMTkvMDcvMDIvOXE0b3h2Z2doZV8yMHRoX2Fubml2X3NtLnBuZyJdLFsicCIsInRodW1iIiwiMTAweDEwMCMiXV0/20th%20anniv%20sm.png" alt="20th%20anniv%20sm">
                                </div>
                                <div class="col-sm-10">
                                    <h3><div class="row"><div class="col-sm-9 headline">PEFC 20th Anniversary! Celebrate with us!</div><div class="col-sm-3"><small class="pull-right hidden-xs"> 2 July 2019</small><small class="visible-xs"> 2 July 2019</small></div></div></h3><p>
                                        20 years ago, European small-forest owners came together to create an international forest certification system that had their needs at heart. On 30 June 1999, PEFC was born.
                                        Over ...
                                    </p>
                                </div>
                            </div>
                        </a>
                    </ul>
                    <div class="pagination"><span class="previous_page disabled">«</span> <em class="current">1</em> <a rel="next" href="en/news_articles4658.html?page=2">2</a> <a href="en/news_articles9ba9.html?page=3">3</a> <a href="en/news_articlesfdb0.html?page=4">4</a> <a href="en/news_articlesaf4d.html?page=5">5</a> <a href="en/news_articlesc575.html?page=6">6</a> <a href="en/news_articles235c.html?page=7">7</a> <a class="next_page" rel="next" href="en/news_articles4658.html?page=2">»</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-md-12 text-right">
        <cs-pager cs-paging-pagesize="@Model.PageSize"
                  cs-paging-pagenumber="@Model.Page"
                  cs-paging-totalitems="@Model.TotalItem"
                  asp-basehref="~/news"
                  cs-pagenumber-param="page"></cs-pager>
    </div>
</div>

