@model SimplCommerce.Module.News.Areas.News.ViewModels.NewsItemVm
@section additionalMeta {
    <meta name="title" content="@ViewBag.Title" />
    <meta name="keywords" content="@Model.MetaKeywords" />
    <meta name="description" content="@Model.MetaDescription" />
}

@{
    ViewData["Title"] = Model.Name;
}
@*<section>

        <article>
            <h1 class="titledetail">@Model.Name</h1>

            <div class="userdetail">

            </div>

            <div class="imgwrap"><img alt="tet-huawei" data-original="@Model.ThumbnailImageUrl" src="@Model.ThumbnailImageUrl" title="tet-huawei"></div>

            <div class="news-item-full-description">
                @Html.Raw(Model.FullContent)
            </div>
            @await Component.InvokeAsync("NewItemRelate", Model.Id)
        </article>

    </section>*@
<div class="container padding-top margin-top">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">

            <div class="panel panel-tid" itemscope itemtype="http://schema.org/Article">
                <h1 class="panel-heading tid-background" itemprop="name">
                    @Model.Name
                </h1>
                <div class="panel-body view-content">
                    <div class="content-more share-content-social text-right">
                        <span class="time-post-news"> <i class="fa fa-eye"></i> @Model.CreatedOn.ToString("dd/MM/yyyy")</span>
                    </div>
                    <div itemprop="articleBody">
                        @Html.Raw(Model.FullContent)
                    </div>
                    <div class="share-content-social text-right">
                        <span>Chia sẻ bài viết : </span>
                        <a href="http://www.facebook.com/sharer.php?u=@ViewBag.Host" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="http://twitter.com/share?url=@ViewBag.Host&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://plus.google.com/share?url=@ViewBag.Host" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <div class="fb-comment">
                    </div>
                    <script language="javascript" type="text/javascript">
                $(document).ready(function(e) {
                    $('.fb-comment').html('<div class="fb-comments" data-href="@ViewBag.Host" data-numposts="5" data-colorscheme="light" data-width="' + $('.fb-comment').width() + '"></div>');
                });
                    </script>
                </div>
            </div>
           
            <div class="panel panel-tid" itemscope itemtype="http://schema.org/Article">
                @await Component.InvokeAsync("NewItemRelate", Model.Id)
               
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="panel panel-tid">
                <div class="panel-heading">
                    Các dịch vụ công ty
                </div>
                <div class="panel-body right-content service-right-content">
                    <ul>
                        <li><a href="472-tu-van-su-dung.html" title="BÁN XE ƯU ĐÃI CHO DOANH NGHIỆP"><i class="fa fa-users"></i>BÁN XE ƯU ĐÃI CHO DOANH NGHIỆP</a></li>
                        <li><a href="b6a-dao-tao-ky-thuat-vien.html" title="XE TRANG TRÍ SPORTY"><i class="fa fa-empire"></i>XE TRANG TRÍ SPORTY</a></li>
                        <li><a href="287-dich-vu-bao-duong-mien-phi.html" title="THU XE CŨ ĐỔI XE MỚI"><i class="fa fa-wrench"></i>THU XE CŨ ĐỔI XE MỚI</a></li>
                        <li><a href="882-kiem-tra-truoc-khi-giao-xe-pdi.html" title="PHỤ KIỆN TRANG TRÍ"><i class="fa fa-motorcycle"></i>PHỤ KIỆN TRANG TRÍ</a></li>
                        <li><a href="hoat-dong-dao-tao-lxat.html" title="HOẠT ĐỘNG ĐÀO TẠO LXAT"><i class="fa fa-child"></i>HOẠT ĐỘNG ĐÀO TẠO LXAT</a></li>
                    </ul>
                </div>
            </div>


            <div class="panel panel-tid">
                <div class="panel-heading">
                    Tin Tức
                </div>
                <div class="panel-body right-content news-right-content">
                    <ul>
                        <li><a href="vuot-ngan-dam-xa-da-co-honda-2.html" title="Vượt Ngàn Dặm Xa Đã Có Honda"><i class="fa fa-circle"></i> Vượt Ngàn Dặm Xa Đã Có Honda</a></li>
                        <li><a href="rut-tham-sam-xe-hang-hieu-nhan-qua-sanh-dieu-2.html" title="Rút Thăm Sắm Xe Hàng Hiệu Nhận Quà Sành Điệu"><i class="fa fa-circle"></i> Rút Thăm Sắm Xe Hàng Hiệu Nhận Quà Sành Điệu</a></li>
                        <li><a href="bao-tri-tan-tam-100-trung-qua-2.html" title="Bảo Trì Tận Tâm - 100% Trúng Quà"><i class="fa fa-circle"></i> Bảo Trì Tận Tâm - 100% Trúng Quà</a></li>
                        <li><a href="sam-xe-chat-nhat-qua-tang-2.html" title="SẮM XE CHẤT NHẤT QUÀ TẶNG"><i class="fa fa-circle"></i> SẮM XE CHẤT NHẤT QUÀ TẶNG</a></li>
                        <li><a href="future-fi-125cc-phien-ban-moi-dinh-tam-cao-xung-tu-hao-2.html" title="Future FI 125cc phiên bản mới – Định tầm cao, xứng tự hào"><i class="fa fa-circle"></i> Future FI 125cc phiên bản mới – Định tầm cao, xứng tự hào</a></li>
                        <li><a href="he-cuc-thich-cung-winner-x-2.html" title="HỀ CỰC THÍCH CÙNG WINNER X"><i class="fa fa-circle"></i> HỀ CỰC THÍCH CÙNG WINNER X</a></li>
                        <li><a href="sieu-pham-x-da-tro-lai-cuc-loi-hai-voi-phien-ban-the-thao-abs-moi-2.html" title=" “Siêu phẩm X” đã trở lại cực lợi hại với phiên bản Thể thao ABS mới!"><i class="fa fa-circle"></i>  “Siêu phẩm X” đã trở lại cực lợi hại với phiên bản Thể thao ABS mới!</a></li>
                        <li><a href="luot-cung-chat-choi-msx125-2.html" title="LƯỚT CÙNG CHẤT CHƠI - MSX125"><i class="fa fa-circle"></i> LƯỚT CÙNG CHẤT CHƠI - MSX125</a></li>
                        <li><a href="le-rut-tham-don-xuan-thinh-vuon-rinh-xe-thoi-thuong-2.html" title="Lễ Rút Thăm Đón Xuân Thịnh Vượn Rinh Xe Thời Thượng"><i class="fa fa-circle"></i> Lễ Rút Thăm Đón Xuân Thịnh Vượn Rinh Xe Thời Thượng</a></li>
                        <li><a href="trao-giai-ngap-tran-qua-niem-vui-lan-toa-2.html" title="Trao giải " Ngập Tràn Quà - Niềm Vui Lan Tỏa"><i class="fa fa-circle"></i> Trao giải "Ngập Tràn Quà - Niềm Vui Lan Tỏa</a></li>
                        <li><a href="ung-dung-my-honda-plus-2.html" title="ỨNG DỤNG My Honda Plus"><i class="fa fa-circle"></i> ỨNG DỤNG My Honda Plus</a></li>
                        <li><a href="huong-dan-cai-dat-ung-dung-my-honda-3.html" title="HƯỚNG DẪN CÀI ĐẶT ỨNG DỤNG My Honda +"><i class="fa fa-circle"></i> HƯỚNG DẪN CÀI ĐẶT ỨNG DỤNG My Honda +</a></li>
                        <li><a href="sam-xe-hang-hieu-nhan-qua-sanh-dieu-2.html" title="SẮM XE HÀNG HIỆU, NHẬN QUÀ SÀNH ĐIỆU"><i class="fa fa-circle"></i> SẮM XE HÀNG HIỆU, NHẬN QUÀ SÀNH ĐIỆU</a></li>
                        <li><a href="dich-vu-combo-khuyen-mai-tron-bo-2.html" title="Dịch Vụ Combo Khuyến Mãi Trọn Bộ"><i class="fa fa-circle"></i> Dịch Vụ Combo Khuyến Mãi Trọn Bộ</a></li>
                        <li><a href="le-rut-tham-chuong-trinh-mua-xe-vui-giang-trung-xe-mung-nam-moi-2.html" title="Lễ Rút Thăm Chương Trình " Mua Xe Vui Giáng Trúng Xe Mừng Năm Mới""><i class="fa fa-circle"></i> Lễ Rút Thăm Chương Trình " Mua Xe Vui Giáng Trúng Xe Mừng Năm Mới"</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
