@model SimplCommerce.Module.News.Areas.News.ViewModels.NewsVm

@{
    ViewData["Title"] = "Tin tức ";
}

@*<div class="news row">
        <div class="categories row">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                @foreach (var item in Model.NewsCategory)
                {
                    <div class="btn-group" role="group">
                        <a type="button" class="btn btn-default" href="~/@item.Slug"> @item.Name</a>
                    </div>
                }
            </div>
        </div>
        @if (Model.NewsItem.Any())
        {
            <div class="news-category-detail row">
                @foreach (var item in Model.NewsItem)
                {
                    <partial name="_NewsThumbnail" model="item" />
                }
            </div>
        }
    </div>*@
<section id="page">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-md-3 right-widget-area">
                    <div class="well">
                        <div class="list-group">
                            @foreach (var item in Model.NewsCategory)
                            {
                                <a class="list-group-item depth-0 active" href="~/@item.Slug">@item.Name</a>
                            }
                        </div>
                    </div>
                    <div class="row content-block-widget"><div class="col-xs-12"><div class="alert alert-info right"><h3>PEFC GLOBAL STATISTICS</h3><p>Forests area: 325 million ha<br>Forest owners: &gt; 750,000<br>Companies (CoC): 20,000</p></div></div></div>
                </div><div class="col-md-9">
                    <h1 class="title">News</h1>  <ul id="news_articles" class="list-group">
                        @foreach (var item in Model.NewsItem)
                        {
                            <a href="@item.Slug" class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <img class="img-thumbnail" src="@item.ImageUrl" alt="@item.Name">
                                    </div>
                                    <div class="col-sm-10">
                                        <h3>
                                            <div class="row">
                                                <div class="col-sm-9 headline">@item.Name</div>
                                                <div class="col-sm-3"><small class="pull-right hidden-xs">  @item.PublishedOn.ToString("dd/MM/yyyy hh:mm")</small><small class="visible-xs"> @item.PublishedOn.ToString("dd/MM/yyyy hh:mm")</small></div>
                                            </div>
                                        </h3>
                                        <p>
                                            @Html.Raw(item.ShortContent)
                                        </p>
                                    </div>
                                </div>
                            </a>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-md-12 text-right">
        <cs-pager cs-paging-pagesize="@Model.PageSize"
                  cs-paging-pagenumber="@Model.Page"
                  cs-paging-totalitems="@Model.TotalItem"
                  asp-basehref="~/news"
                  cs-pagenumber-param="page"></cs-pager>
    </div>
</div>

