@model SimplCommerce.Module.Catalog.Areas.Catalog.ViewModels.ProductsByBrand
@using System.Threading.Tasks
@addTagHelper *, SimplCommerce.Infrastructure
@{
    ViewBag.Title = Model.BrandMetaTitle ?? ViewBag.BrandMetaTitle;
}
@section additionalMeta {
    <meta name="title" content="@Model.BrandMetaTitle" />
    <meta name="keywords" content="@Model.BrandMetaKeywords" />
    <meta name="description" content="@Model.BrandMetaDescription" />

    <meta name="og:title" content="@Model.BrandMetaTitle" />
    <meta name="og:description" content="@Model.BrandMetaDescription" />
    <meta name="DC.title" content="@Model.BrandMetaTitle" />
    <meta name="DC.Subject" content="@Model.BrandMetaKeywords" />
    <meta name="DC.Description" content="@Model.BrandMetaDescription" />
}
<style>
    @@media (min-width: 768px) {
        .col-md-2 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 19.999999%;
            flex: 0 0 19.999999%;
            max-width: 29.666667%;
        }
    }

    @@media (max-width: 768px) {
        .col-sm-6 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
</style>
@section head {
    <link simpl-append-version="true" rel="stylesheet" href="~/lib/nouislider/distribute/nouislider.min.css" />
}
@await Component.InvokeAsync("CarouselWidgetCategory")

<div class="laptopcate filtered">
    <div class="row">
        <div class="laptopmanu">
            <a href="https://laptopcudanang.com.vn/macbook-cu" title="Macbook cũ - Macbook cũ chính hãng giá rẻ tại Đà Nẵng"><img src="~/themes/TheGioiDiDong/images/cdn/Brand/1/Macbook44-b_34.png" /></a>
            <a href="https://laptopcudanang.com.vn/laptop-dell-cu" title="Laptop Dell cũ - Dòng laptop Dell cũ chính hãng giá rẻ tại Đà Nẵng"><img src="~/themes/TheGioiDiDong/images/cdn/Brand/1/Dell44-b_34.jpg" /></a>
            <a href="https://laptopcudanang.com.vn/laptop-asus-cu" title="Laptop Asus cũ - Dòng laptop Asus cũ chính hãng giá rẻ tại Đà Nẵng"><img src="~/themes/TheGioiDiDong/images/cdn/Brand/1/Asus44-b_35.jpg" /></a>
            <a href="https://laptopcudanang.com.vn/laptop-hp-cu" title="Laptop Hp cũ - Dòng laptop Hp cũ chính hãng giá rẻ tại Đà Nẵng"><img src="~/themes/TheGioiDiDong/images/cdn/Brand/1/HP-Compaq44-b_36.jpg" /></a>
            @*<a href="acer"><img src="~/themes/TheGioiDiDong/images/cdn/Brand/1/Acer44-b_37.jpg" /></a>*@
            <a href="https://laptopcudanang.com.vn/laptop-lenovo-cu" title="Laptop Lenovo cũ - Dòng laptop Lenovo cũ chính hãng giá rẻ tại Đà Nẵng" ><img src="~/themes/TheGioiDiDong/images/cdn/Brand/1/Lenovo44-b_36.jpg" /></a>
            <a href="https://laptopcudanang.com.vn/laptop-msi-cu" title="Laptop msi cũ - Dòng laptop msi cũ chính hãng giá rẻ tại Đà Nẵng"><img src="~/themes/TheGioiDiDong/images/cdn/Brand/1/MSI44-b_30.png" /></a>
            <a href="https://laptopcudanang.com.vn/laptop-hoc-tap-van-phong" title="Học tập văn phòng  - Dòng laptop Đồ Học tập văn phòng cũ chính hãng giá rẻ tại Đà Nẵng">Học tập văn phòng</a>
            <a href="https://laptopcudanang.com.vn/laptop-do-hoa-ky-thuat" title="Đồ họa- Kỹ thuật - Dòng laptop Đồ họa- Kỹ thuật cũ chính hãng giá rẻ tại Đà Nẵng">Đồ họa- Kỹ thuật</a>
            <a href="https://laptopcudanang.com.vn/laptop-gaming" title="Laptop gaming - Dòng laptop gaming cũ chính hãng giá rẻ tại Đà Nẵng">Laptop gaming</a>
            <a href="https://laptopcudanang.com.vn/laptop-cao-cap-sang-trong" title="Cao cấp - Sang trọng  - Dòng laptop Cao cấp - Sang trọng cũ chính hãng giá rẻ tại Đà Nẵng">Cao cấp - Sang trọng</a>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row mb-3">
                <div class="col-sm-4 category-result">
                    <h2>@Model.BrandName</h2>
                    @*<small class="badge-results">@Model.TotalProduct @Localizer["results"]</small>*@
                </div>
                <div class="col-sm-8">
                    <ul class="list-inline clear-both product-list-display-options">
                        <li class="sort-by">
                            Mức giá:
                        </li>
                        <li class="sort-by"> <a href="/laptop-cu-duoi-5-trieu" rel="nofolow"> Dưới 5 triệu</a> </li>
                        <li>  <a href="/laptop-cu-5-10-trieu" rel="nofolow">5 - 10 triệu</a></li>
                        <li class="sort-by">
                            <a href="/laptop-cu-tren-10-trieu" rel="nofolow">Trên 10 triệu</a>
                        </li>
                        <li class="sort-by">
                            <label>@Localizer["Sort by:"]</label>
                            <div class="btn-group">
                                <select asp-for="CurrentSearchOption.Sort" asp-items="Model.AvailableSortOptions" class="form-control"></select>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row product-list ">
                <div class="homeproduct">
                    @foreach (var product in Model.Products)
                    {
                        <div class="col-sm-6 col-md-2 item-product">
                            <partial name="_ProductThumbnail" model="product" />
                        </div>
                    }
                </div>

            </div>
            @if (Model.CurrentSearchOption.Page != Model.CurrentSearchOption.PageCount)
            {
                <div class="row load-more">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-outline-primary" onclick="loadMoreProductByBranch()">Xem thêm</button>
                    </div>
                </div>
            }
            <div class="category-description">
                @Html.Raw(Model.BrandDescription)
            </div>
        </div>
    </div>

</div>


@section scripts {
    <script simpl-append-version="true" src="~/lib/wnumb/wNumb.js"></script>
    <script simpl-append-version="true" src="~/lib/nouislider/distribute/nouislider.min.js"></script>

    <script>
    var productFilter = {};
      var count=2;
            productFilter.currentSearchOption = @Html.Raw(Model.CurrentSearchOption.ToJson());
            productFilter.priceSetting = {
                min: @Model.FilterOption.Price.MinPrice.ToString("F0"),
                max: @Model.FilterOption.Price.MaxPrice.ToString("F0"),
                currentMin: @((Model.CurrentSearchOption.MinPrice ?? Model.FilterOption.Price.MinPrice).ToString("F0")),
                currentMax: @((Model.CurrentSearchOption.MaxPrice ?? Model.FilterOption.Price.MaxPrice).ToString("F0")),
        };
        function loadMoreProductByBranch(){
            $.ajax({
                url:'/Catalog/Brand/BrandDetailLoadMore/@Model.BrandId?page='+count,
                type:'get',
                success:function(html){
                    if(count=='@Model.CurrentSearchOption.PageCount')
                    {
                        $('.load-more').css('display','none');
                    }
                    ++count;
                    $('.homeproduct').append(html);
                },
                error:function(ex){
                    console.log(ex);
                }

            })
        }
    </script>
    <script simpl-append-version="true" src="~/modules/catalog/product-filter.js"></script>
    <script simpl-append-version="true" src="~/themes/TheGioiDiDong/js/category.js"></script>
}
