@model SimplCommerce.Module.Cms.Areas.Cms.ViewModels.CarouselWidgetViewComponentVm
<div class="laptoptop no-margin-left  no-margin-right">
    <div class="row">
        <div class="col-md-8">
            <div id="owl-laptop">
                @foreach (var item in Model.Items)
                {
                    <a aria-label='slide' href='@item.TargetUrl' rel="nofollow">
                        <img src='@item.Image' alt='@item.LinkText' class="img-responsive lazyload" style="height:300px;"
                             data-src="@item.Image" data-srcset="@item.Image 300w, @item.Image 600w, @item.Image 900w" />
                    </a>
                }
            </div>
        </div>
        <div class="col-md-4 no-padding">
            <div class="right">
                <div class="twobanner">
                    <a aria-label="slide" href="/" onclick=""  class="img-responsive"><img src="/user-content/chamsoctrondoi.png" alt="2018 - NO - Sticky Laptop"></a>
                    <a aria-label="slide" href="/" onclick=""><img src="/user-content/samlaptopxin.png" alt="2018 - DE - Sticky Laptop" class="img-responsive"></a>
                </div>
            </div>
        </div>
    </div>
</div>
