@model SimplCommerce.Module.Orders.Areas.Orders.ViewModels.DeliveryInformationVm

@{
    ViewBag.Title = "Shipping Information";
}
<style>
    .double-block .content-block.main {
        width: 890px !important;
    }

    .d-none {
        display: none !important;
    }

    .d-inline {
        display: inline !important;
    }

    .d-inline-block {
        display: inline-block !important;
    }

    .d-block {
        display: block !important;
    }
</style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker-standalone.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
<div class="main-page left">

    <!-- BEGIN .single-block -->
    <div class="single-block">


        <!-- BEGIN .content-block -->
        <div class="content-block main left">

            <div class="block">
                <div class="block-content">
                    <div class="article-title">
                        <div class="block-title">
                            <h2>@Localizer["Liên hệ"]</h2>
                        </div>
                        <div class="block-content">
                            <div class="row cart-list">
                                <div class="col-md-12">
                                    <form asp-area="Orders" asp-controller="Checkout" asp-action="Shipping" method="POST" id="checkout-delivery-address">
                                        <div class="coloralert" style="background: #e57f1b;">
                                            <h3>@Localizer["Thông tin khách hàng"]</h3>
                                        </div>
                                        @*@foreach (var address in Model.ExistingShippingAddresses)
                                            {
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="ShippingAddressId" value="@address.UserAddressId" checked="@(Model.ShippingAddressId == address.UserAddressId ? "checked" : null)">
                                                        <strong>@address.ContactName </strong><br />
                                                        @address.AddressLine1 <br />
                                                        @address.AddressLine2 <br />
                                                        Phone: @address.Phone
                                                    </label>
                                                </div>
                                            }*@
                                        <div class="radio">
                                            <label>
                                                <input type="hidden" name="ShippingAddressId" checked="checked" value="0" />
                                            </label>
                                        </div>
                                        <div class="">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">@Localizer["Tên người liên hệ"]</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="NewAddressForm.ContactName" type="text" class="form-control">
                                                    <span asp-validation-for="NewAddressForm.ContactName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">@Localizer["Quốc gia"]</label>
                                                <div class="col-sm-8">
                                                    <select asp-for="NewAddressForm.CountryId" asp-items="Model.NewAddressForm.ShipableContries" class="form-control">
                                                        <option value="">@Localizer["Chọn"]</option>
                                                    </select>
                                                    <span asp-validation-for="NewAddressForm.CountryId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div id="form-group-city" class="form-group row">
                                                <label class="col-sm-4 col-form-label">@Localizer["Tỉnh/ Thành phố"]</label>
                                                <div class="col-sm-8">
                                                    <select asp-for="NewAddressForm.StateOrProvinceId" asp-items="Model.NewAddressForm.StateOrProvinces" class="form-control">
                                                        <option value="">@Localizer["Chọn"]</option>
                                                    </select>
                                                    <span asp-validation-for="NewAddressForm.StateOrProvinceId" class="text-danger"></span>

                                                </div>
                                            </div>

                                            <div id="form-group-district" class="form-group row">
                                                <label class="col-sm-4 col-form-label">@Localizer["Quận / Huyện"]</label>
                                                <div class="col-sm-8">
                                                    <select asp-for="NewAddressForm.DistrictId" asp-items="Model.NewAddressForm.Districts" class="form-control">
                                                        <option value=""></option>
                                                    </select>
                                                    <span asp-validation-for="NewAddressForm.DistrictId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">@Localizer["Phường/ Xã"]</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="NewAddressForm.Ward" type="text" class="form-control">
                                                    <span asp-validation-for="NewAddressForm.Ward" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div id="form-group-postalcode" class="form-group row">
                                                <label class="col-sm-4 col-form-label">@Localizer["Mã bưu điện"]</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="NewAddressForm.ZipCode" type="text" class="form-control">
                                                    <span asp-validation-for="NewAddressForm.ZipCode" class="text-danger"></span>

                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">@Localizer["Địa chỉ"]</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="NewAddressForm.AddressLine1" type="text" class="form-control">
                                                    <span asp-validation-for="NewAddressForm.AddressLine1" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">@Localizer["Số điện thoại"]</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="NewAddressForm.Phone" type="text" class="form-control">
                                                    <span asp-validation-for="NewAddressForm.Phone" class="text-danger"></span>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="coloralert" style="background: #e57f1b;">
                                            <h3>@Localizer["Thông tin phòng và dịch vụ"]</h3>
                                        </div>

                                        <div>
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">@Localizer["Loại phòng"]</label>
                                                <div class="col-sm-8">
                                                    <select asp-for="BookingRoomVm.TypeBookId" asp-items="Model.BookingRoomVm.TypeRoom" class="form-control">
                                                        <option value="">@Localizer["Chọn"]</option>
                                                    </select>
                                                    <span asp-validation-for="BookingRoomVm.TypeRoom" class="text-danger"></span>

                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">@Localizer["Ở từ ngày"]</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="BookingRoomVm.FromDate" type="text" class="form-control datepicker">
                                                    <span asp-validation-for="BookingRoomVm.FromDate" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">@Localizer["Ở đến ngày"]</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="BookingRoomVm.ToDate" type="text" class="form-control datepicker">
                                                    <span asp-validation-for="BookingRoomVm.ToDate" class="text-danger"></span>

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">@Localizer["Số lượng phòng"]</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="BookingRoomVm.Count" type="text" class="form-control">
                                                    <span asp-validation-for="BookingRoomVm.Count" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">@Localizer["Số lượng người lớn"]</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="BookingRoomVm.CountAdult" type="text" class="form-control">
                                                    <span asp-validation-for="BookingRoomVm.CountAdult" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">@Localizer["Số lượng trẻ em( dưới 6 tuổi)"]</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="BookingRoomVm.CountChildren" type="text" class="form-control">
                                                    <span asp-validation-for="BookingRoomVm.CountChildren" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="coloralert" style="background: #e57f1b;">
                                            <h3>@Localizer["Dịch vụ đón sân bay và các dịch vụ khác"]</h3>
                                        </div>
                                        <div class="">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">@Localizer["Thời gian hạ cánh"]</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="ServicesFlightVm.LandingTime" type="text" class="form-control datepicker">
                                                    <span asp-validation-for="ServicesFlightVm.LandingTime" class="text-danger"></span>

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">@Localizer["Số hiệu chuyến bay"]</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="ServicesFlightVm.FlightNumber" type="text" class="form-control">
                                                    <span asp-validation-for="ServicesFlightVm.FlightNumber" class="text-danger"></span>

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">@Localizer["Tên sân bay"]</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="ServicesFlightVm.AirportName" type="text" class="form-control">
                                                    <span asp-validation-for="ServicesFlightVm.AirportName" class="text-danger"></span>

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">@Localizer["Các yêu cầu khác"]</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="ServicesFlightVm.Note" type="text" class="form-control">
                                                    <span asp-validation-for="ServicesFlightVm.Note" class="text-danger"></span>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12 text-right">
                                                <button type="submit" class="btn btn-primary btn-order" >@Localizer["Gửi đi"]</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                @*<div class="col-md-4">
                                        @await Component.InvokeAsync("OrderSummary")
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script simpl-append-version="true" src="~/modules/orders/checkout.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $(function () {
            $('.datepicker').datetimepicker();
        });
    </script>
}
