@model SimplCommerce.WebHost.Models.Certification

@{
    ViewData["Title"] = "Details Certification";
    Layout = "~/Themes/ChungChiRung/Views/Shared/_Layout.cshtml";
}
<div class="container-limited pb-150" id="find-certified-results">

    <div class="row pt-30 justify-content-center align-items-center d-print-none">
        <div class="col-12 col-md-12">

            <nav aria-label="breadcrumb" id="breadcrumbs" class="d-none d-md-block">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a id="breadcrumbs-10000152" href="/find-certified">Find Certified</a>
                    </li>
                </ol>
            </nav>

        </div>

    </div>

    <div class="row pt-30">
        <div id="find-certified-app" class="col-xxl col-md-12 pr-md-36">
            <div class="row justify-content-center">
                <div class="col-12 col-md-12"><div class="row"><div class="col-12 title"><h2 class="underline text-green mb-36 text-center"><span>Find Certified</span></h2> <div class=" w-75"><p></p><p>PEFC maintains comprehensive databases to ensure easy access to relevant information about certificate holders, logo and label users, certified products, accredited certification bodies, and PEFC-endorsed national certification systems.</p> <p></p></div></div></div></div> <div class="col-12 col-md-12">
                    <p><strong>PEFC council information register</strong></p> <h3 class="mb-6">
                        @Model.CompanyName
                    </h3> <div class="row mt-30">
                        <div class="col-12">
                            <strong>  @Model.CompanyName</strong><br>
                            @Model.CompanyInformationContactPersonName                                   <br>
                            @Model.CompanyInformationAddress <strong>Phone                                        : </strong><a href="tel://@Model.CompanyInformationPhone">@Model.CompanyInformationPhone</a> <br> <strong>Email                                        : </strong><a href="mailto:@Model.CompanyInformationEmail">@Model.CompanyInformationEmail</a> <br>
                        </div>
                    </div>
                </div> <div class="col-12 col-md-12 mb-30"><hr></div> <div class="col-12 col-md-12"><h4>Certificate</h4></div> <div class="col-12 col-md-12">
                    <div class="row mb-6">
                        <div class="col-6 col-md-4">
                            Type of certification
                        </div> <div class="col-6 col-md-8">
                            @Model.CertificationInformationTypeOfCertification<br>
                        </div>
                    </div> <div class="row mb-6">
                        <div class="col-6 col-md-4">
                            Certificate
                        </div> <div class="col-6 col-md-8">
                            @Model.CertificationInformationCertificate<br>
                        </div>
                    </div>
                    <div class="row mb-6">
                        <div class="col-6 col-md-4">
                            Certificate number
                        </div> <div class="col-6 col-md-8">
                            @Model.CertificationInformationCertificateNumber<br>
                        </div>
                    </div> <div class="row mb-6">
                        <div class="col-6 col-md-4">
                            Sub certificate number
                        </div> <div class="col-6 col-md-8">@Model.CertificationInformationSubCertificateNumber</div>
                    </div> <div class="row mb-6">
                        <div class="col-6 col-md-4">
                            Status
                        </div> <div class="col-6 col-md-8">
                            @Model.CertificationInformationStatus<br>
                        </div>
                    </div>
                </div> <div class="col-12 col-md-12">
                    <div class="row">
                        <div class="col-6 col-md-4">
                            Expiry Date
                        </div> <div class="col-6 col-md-8">
                            @Model.CertificationInformationExpiryDate                                   <br>
                        </div>
                    </div>
                </div> <div class="col-12 col-md-12 mb-30"><hr></div> <div class="col-12 col-md-12"><h4>Certification body</h4></div> <div class="col-12 col-md-12">
                    <div class="row">
                        <div class="col-12">
                            <strong>@Model.CertificationBodyName</strong><br>

                            @Model.CertificationBodyAddress<br> <strong>Phone                                        : </strong><a href="tel://@Model.CertificationBodyPhone">@Model.CertificationBodyPhone</a> <br> <strong>Fax                                    : </strong>@Model.CertificationBodyFax<br> <strong>Email                                        : </strong><a href="mailto:sylvie.seisun@sgs.com">sylvie.seisun@sgs.com</a> <br> <strong>Website                                        : </strong><span><a href="http://www.sgs.com">http://www.sgs.com</a> </span> <br>
                        </div>
                    </div>
                </div> <div class="col-12 col-md-12 mb-30"><hr></div> <div class="col-12 col-md-12"><h4>PEFC logo license</h4></div> <div class="col-12 col-md-12">
                    <div class="row">
                        <div class="col-6 col-md-4">
                            License number
                        </div> <div class="col-6 col-md-8">
                            @Model.LogoLisenceNumber                                    <br>
                        </div>
                    </div>
                </div> <div class="col-12 col-md-12">
                    <div class="row">
                        <div class="col-6 col-md-4">
                            Expiry Date
                        </div> <div class="col-6 col-md-8">
                            @Model.LogoLisenceExprityDate                                   <br>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 mb-30"><hr></div>
                <div class="col-12 col-md-12"><h4>Company Products</h4></div>
                @if (!string.IsNullOrEmpty(Model.ProductsName))
                {
                    <div class="col-12 col-md-12">
                        <div class="row">
                            <div class="col-6 col-md-4">
                                Products Name
                            </div> <div class="col-6 col-md-8">
                                @Model.ProductsName                                       <br>
                            </div>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.ProductsDescrition))
                {
                    <div class="col-12 col-md-12">
                        <div class="row">
                            <div class="col-6 col-md-4">
                                Products Description
                            </div> <div class="col-6 col-md-8">
                                @Model.ProductsDescrition                                       <br>
                            </div>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.ProductsCategoriesLevel1))
                {
                    <div class="col-12 col-md-12">
                        <div class="row">
                            <div class="col-6 col-md-4">
                                Products Categories Level 1
                            </div> <div class="col-6 col-md-8">
                                @Model.ProductsCategoriesLevel1                                       <br>
                            </div>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.ProductsCategoriesLevel1))
                {
                    <div class="col-12 col-md-12">
                        <div class="row">
                            <div class="col-6 col-md-4">
                                Products Categories Level 1
                            </div> <div class="col-6 col-md-8">
                                @Model.ProductsCategoriesLevel1                                       <br>
                            </div>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.ProductsCategoriesLevel2))
                {
                    <div class="col-12 col-md-12">
                        <div class="row">
                            <div class="col-6 col-md-4">
                                Products Categories Level 2
                            </div> <div class="col-6 col-md-8">
                                @Model.ProductsCategoriesLevel2                              <br>
                            </div>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.ProductsCategoriesLevel3))
                {
                    <div class="col-12 col-md-12">
                        <div class="row">
                            <div class="col-6 col-md-4">
                                Products Categories Level 3
                            </div> <div class="col-6 col-md-8">
                                @Model.ProductsCategoriesLevel3                            <br>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
