@model IEnumerable<SimplCommerce.Module.News.Areas.News.ViewModels.NewsItemVm>

<h1 class="panel-heading tid-background" itemprop="name">
    Tin Khác
</h1>
<div class="panel-body view-content">
    <div itemprop="articleBody">
        @foreach (var itemNew in Model)
        {
            <div class="clear mini-row content-item-container">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">
                    <h4>
                        <a href="@itemNew.Slug" title="">
                            <img class="width-100 thumbnail" src="@itemNew.ThumbnailImageUrl" alt="@itemNew.Name" />
                        </a>
                    </h4>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
                    <h2>
                        <a href="@itemNew.Slug" title="">
                            @itemNew.Name
                        </a>
                    </h2>
                    <h3>@itemNew.ShortContent</h3>
                </div>
                <div class="clear"></div>
            </div>
        }
    </div>
</div>
