@using System.Globalization
<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>@ViewData["Title"]</title>
    @RenderSection("additionalMeta", false)
    <meta http-equiv="content-language" content="vi" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="SHORTCUT ICON" href="/themes/Honda/public/img/logo.jpg" />
    <meta itemprop="name" name="name" content="" />
    <meta itemprop="description" name="description" content="HỆ THỐNG HEAD Honda Khanh Linh" />
    <meta itemprop="image" name="image" content="/themes/Honda/public/img/logo.jpg" />
    <meta name="language" content="" />
    <meta name="geo.region" content="" />
    <meta name="keywords" content="HỆ THỐNG HEAD Honda Khanh Linh" />
    <meta name="DC.Creator" content="" />
    <meta name="DC.Type" content="" />
    <meta name="DC.Indentifier" content="" />
    <meta property="og:image" content="/themes/Honda/public/img/logo.jpg" />
    <title>Honda Khanh Linh</title>
    <meta property="og:title" content="" />
    <meta property="og:site_name" content="Honda Khánh Linh" />
    <meta property="og:description" content="HỆ THỐNG HEAD Honda Khánh Linh" />
    <meta property="og:url" content="@ViewBag.Host" />
    <meta property="og:type" content="article" />
    <meta property="fb:admins" content="{100002905337831}" />
    <meta property="fb:admins" content="{100025138548656}" />
    <meta property="fb:admins" content="{100003960893320}" />
    <meta name="twitter:card" content="summary" />
    <meta name="robots" content="noodp,index,follow" />
    <meta name='revisit-after' content='1 days' />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="HỆ THỐNG HEAD HONDA KHÁNH LINH" />
    <meta name="twitter:image" content="/themes/Honda/public/img/logo.jpg" />
    <link rel="image_src" href="/themes/Honda/public/img/favicon.png" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:900,700,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/themes/Honda/public/css/VNI-Franko.css" type="text/css" />
    <link rel="stylesheet" href="/themes/Honda/public/css/responsive-tabs.css" type="text/css" />
    <link rel="stylesheet" href="/themes/Honda/public/css/bootstrap.min.css" type="text/css" />
    <link href="/themes/Honda/public/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/themes/Honda/public/css/bootstrap-theme.min.css" type="text/css" />
    <link rel="stylesheet" href="/themes/Honda/public/css/nivo-slider.css" type="text/css" />
    <link href='/themes/Honda/public/css/jquery.bxslider.css' rel='stylesheet' type='text/css' />
    <link href='/themes/Honda/public/css/slick.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/themes/Honda/public/css/loader.css" type="text/css" />
    <link rel="stylesheet" href="/themes/Honda/public/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="/themes/Honda/public/css/chat.css" type="text/css" />
    <link rel="stylesheet" href="/themes/Honda/public/css/site.css" type="text/css" />

     @RenderSection("head", required: false)
</head>

<body>

    <div id="fb-root"></div>
    <div class="banner-website">
        <!--<div class="tuyet"></div>-->
        <!--<div class="home-left"></div>-->
        <!--<div class="home-right"></div>-->
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <a href="/" title="Trang chủ" class="banner-logo">
                        <img src="/themes/Honda/public/img/logo.jpg" alt="Honda Khanh Linh" class="" />
                    </a>
                </div>
                @*<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <b class="slogan-banner-website"><img src="/themes/Honda/public/img/slogan.png" alt="Hệ thống Visacoop" /></b>
                    </div>*@
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="search-top-wrapper">
                        <div class="mini-row">
                            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6">
                                <form method="get"  action="~/search" class="top-form-search">
                                    <input type="text" name="query"  placeholder="Tìm kiếm ..." value="" />
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
                                <div class="social-banner pull-right">
                                    <a href="https://www.facebook.com" title="facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="https://business.google.com" title=""><i class="fa fa-google-plus"></i></a>
                                    <a href="https://www.instagram.com" title="instagram"><i class="fa fa-instagram"></i></a>
                                    <!--<a href="#" title="linkedin"><i class="fa fa-linkedin"></i></a>-->
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="hotline-top-wrapper">
                        <i class="fa fa-phone"></i> <b class="phone">0211 356 6666</b>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("CategoryMenu")

    @RenderSection("featured", false)
    @RenderBody()


    @if (ViewBag.Host == "https://hondakhanhlinh.com/" || ViewBag.Host == "https://localhost:44364/")
    {
        @await Component.InvokeAsync("NewItemHome")
    }


    <div class="panel panel-tid service-website">
        <div class="tuyet"></div>
        <div class="panel-black">
            <div class="container">
                <div class="title">Liên Hệ</div>
            </div>
        </div>
        <div class="panel-body">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 animated mt-2" data-animation="bounceInLeft">
                        <a class="transition-light" href="head-cong-hoa.html" title="Đại lý Ủy Nhiệm Head Honda Khánh Linh 1 Yên Lạc – Vĩnh Phúc">
                            <img src="/themes/Honda/public/uploads/images/thumbs/COOP_1.jpg" alt="Đại lý Ủy Nhiệm Head Honda Khánh Linh 1 Yên Lạc – Vĩnh Phúc" class="width-100 border-radius-img" />

                        </a>
                        <a href="/" title="Đại lý Ủy Nhiệm Head Honda Khánh Linh 1 Yên Lạc – Vĩnh Phúc"><b class="title-contact">HEAD Honda Khánh Linh #1</b></a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 animated mt-2" data-animation="bounceInLeft">
                        <a class="transition-light" href="head-trung-chanh.html" title="Đại lý Ủy Nhiệm Head Honda Khánh Linh 1 Yên Lạc – Vĩnh Phúc ">
                            <img src="/themes/Honda/public/uploads/images/thumbs/COOP_2.jpg" alt="HEAD Honda Khanh Linh #2 " class="width-100 border-radius-img" />

                        </a>
                        <a href="/" title="HEAD Honda Khanh Linh #2 "><b class="title-contact">HEAD Honda Khánh Linh #2 </b></a>
                    </div>
                     
                </div>
            </div>
        </div>
    </div>
    <div class="container padding-bottom margin-bottom">
        <div class="row resize-height-container" resize=".col-lg-4">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 video-more animated margin-bottom" data-animation="bounceInLeft">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 animated margin-bottom" data-animation="bounceInRight">
                <a href="skype:#?call" title="Support Website" class="support-website transition-light">
                    <img src="/themes/Honda/public/uploads/images/customer-support-online1.jpg" title="Hotline" class="width-100" />
                    <span>Hỗ trợ trực tuyến</span>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12  animated margin-bottom" data-animation="bounceInDown">
                <div class="statistical-website col-lg-4">
                    <span class="">Thống kê truy cập </span>
                    <p><i class="fa fa-users"></i> Đang truy cập : 11</p>
                    <p><i class="fa fa-bar-chart"></i> Hôm nay : 437</p>
                    <p><i class="fa fa-calendar-o"></i> Hôm qua: 959</p>
                    <p><i class="fa fa-pie-chart"></i> Tổng lượt truy cập : 3,893,228</p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-website">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span class="title-footer">hệ thống cửa hàng Honda Khánh Linh</span>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <p>
                                <b> HEAD Honda Khanh Linh #1</b>
                            <p>
                                <span style="font-family:arial, helvetica, sans-serif;">Địa chỉ: Đường tỉnh 304, tt. Yên Lạc, Yên Lạc, Vĩnh Phúc, Việt Nam</span>
                            </p>
                            <p>
                                <span style="font-family:arial, helvetica, sans-serif;">ĐT: (0211) 356 6666</span>
                            </p>
                           
                            <hr />                       
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <p>
                                <b>HEAD Honda Khanh Linh #2</b>
                            <p>
                                <span style="font-family:arial, helvetica, sans-serif;">Địa chỉ: Lô A Khu đô thị Tiến phong, QL23, Mê Linh, Vĩnh Phúc, Việt Nam</span>
                            </p>
                            <p>
                                <span style="font-family:arial, helvetica, sans-serif;">SĐT: (024) 3811 1188</span>
                            </p>
                       
                            <hr />                      
                        </div>
                        
                    </div>
                </div>
                <!--start code noel-->
                <!--<img src="http://visacoop.com/public/img/noel2018/footer-left.png" class="footer-left" >-->
                <!--<img src="http://visacoop.com/public/img/noel2018/footer-right.png" class="footer-right">-->
                <!--<img src="http://visacoop.com/public/img/noel2018/sp3.png" class="sp3">-->
                <!--<img src="http://visacoop.com/public/img/noel2018/moon.png" class="moon">-->
                <!--end code noel-->
            </div>
        </div>
        <div class="copyright-end-footer">
            Copyright &copy; @DateTime.Today.Year CÔNG TY HONDA KHÁNH LINH
        </div>
    </div>



    <script type="text/javascript" src="/themes/Honda/public/js/jquery.js"></script>
    <script type="text/javascript" src="/themes/Honda/public/js/jquery.easing.1.3.js"></script>
    <script language="javascript" type="text/javascript" src="/themes/Honda/public/js/modernizr.custom.js"></script>
    <script language="javascript" type="text/javascript" src="/themes/Honda/public/js/detectmobilebrowser.js"></script>
    <script type="text/javascript" src="/themes/Honda/public/js/bootstrap.min.js"></script>
    <script src="/themes/Honda/public/js/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="/themes/Honda/public/js/slick.js"></script>
    <script type="text/javascript" src="/themes/Honda/public/js/jquery.nivo.slider.pack.js"></script>
    <script language="javascript" type="text/javascript" src="/themes/Honda/public/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="../download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
    <script language="javascript" type="text/javascript" src="/themes/Honda/public/js/transform2d.min.js"></script>
    <script language="javascript" type="text/javascript" src="/themes/Honda/public/js/hover-animations-1.0.min.js"></script>
    <script language="javascript" type="text/javascript" src="/themes/Honda/public/js/classie.js"></script>
    <script type="text/javascript" language="javascript" src="/themes/Honda/public/js/jssor.js"></script>
    <script type="text/javascript" language="javascript" src="/themes/Honda/public/js/jssor.slider.js"></script>
    <!--<script language="javascript" type="text/javascript" src="http://visacoop.com/public/js/ion.sound.min.js"></script>-->
    <script language="javascript" type="text/javascript" src="/themes/Honda/public/js/waypoints.min.js"></script>
    <script language="javascript" type="text/javascript" src="/themes/Honda/public/js/jquery.responsiveTabs.js"></script>
    <!--<script type="text/javascript" src="http://visacoop.com/public/js/chat.js"></script>-->
    <script type="text/javascript" src="/themes/Honda/public/js/sitetid.js"></script>
    <!--<script type="text/javascript" src="http://www.maytinhhtl.com/images/code/snowstorm.js"></script>-->

    <script type="text/javascript">
        $(document).ready(function () {
            $('*').bind('cut copy paste', function (e) {
                e.preventDefault();
            })
            if ($(window).innerWidth() < 767)
                var showslide = 1;
            else
                var showslide = 4;
            $(".product-scroll").slick({
                slidesToShow: showslide,
                slidesToScroll: showslide,
                autoplay: true,
                autoplaySpeed: 4000,
            })
        });
        $(window).load(function () {
            setTimeout(function () {
                $('.video-more').html('<iframe width="100%" height="' + $('.video-more').height() + '" src="https://www.youtube.com/embed/4Ln6_gm38X0" frameborder="0" allowfullscreen></iframe>');
            }, 500)
        })
    </script>
    @if (ViewBag.Host == "https://hondakhanhlinh.com/" || ViewBag.Host == "https://localhost:44364/")
    {
        <script>
            jQuery(document).ready(function (e) {
                function i() { var t = document.body.clientWidth; if (t) { r.$ScaleWidth(Math.min(e("body").width(), 1920)) } else { window.setTimeout(i, 30) } } var t = []; t["L"] = { $Duration: 900, x: .6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 }; t["R"] = { $Duration: 900, x: -.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 }; t["T"] = { $Duration: 900, y: .6, $Easing: { $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 }; t["B"] = { $Duration: 900, y: -.6, $Easing: { $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 }; t["ZMF|10"] = { $Duration: 900, $Zoom: 11, $Easing: { $Zoom: $JssorEasing$.$EaseOutQuad, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }; t["RTT|10"] = { $Duration: 900, $Zoom: 11, $Rotate: 1, $Easing: { $Zoom: $JssorEasing$.$EaseOutQuad, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInExpo }, $Opacity: 2, $Round: { $Rotate: .8 } }; t["RTT|2"] = { $Duration: 900, $Zoom: 3, $Rotate: 1, $Easing: { $Zoom: $JssorEasing$.$EaseInQuad, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInQuad }, $Opacity: 2, $Round: { $Rotate: .5 } }; t["RTTL|BR"] = { $Duration: 900, x: -.6, y: -.6, $Zoom: 11, $Rotate: 1, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Top: $JssorEasing$.$EaseInCubic, $Zoom: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInCubic }, $Opacity: 2, $Round: { $Rotate: .8 } }; t["CLIP|LR"] = { $Duration: 900, $Clip: 15, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic }, $Opacity: 2 }; t["MCLIP|L"] = { $Duration: 900, $Clip: 1, $Move: true, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic } }; t["MCLIP|R"] = { $Duration: 900, $Clip: 2, $Move: true, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic } }; var n = { $FillMode: 2, $AutoPlay: true, $AutoPlayInterval: 4e3, $PauseOnHover: 1, $ArrowKeyNavigation: true, $SlideEasing: $JssorEasing$.$EaseOutQuint, $SlideDuration: 800, $MinDragOffsetToSlide: 20, $SlideSpacing: 0, $DisplayPieces: 1, $ParkingPosition: 0, $UISearchMode: 1, $PlayOrientation: 1, $DragOrientation: 1, $CaptionSliderOptions: { $Class: $JssorCaptionSlider$, $CaptionTransitions: t, $PlayInMode: 1, $PlayOutMode: 3 }, $BulletNavigatorOptions: { $Class: $JssorBulletNavigator$, $ChanceToShow: 2, $AutoCenter: 1, $Steps: 1, $Lanes: 1, $SpacingX: 8, $SpacingY: 8, $Orientation: 1 }, $ArrowNavigatorOptions: { $Class: $JssorArrowNavigator$, $ChanceToShow: 1, $AutoCenter: 2, $Steps: 1 } }; var r = new $JssorSlider$("slider1_container", n); i(); if (!navigator.userAgent.match(/(iPhone|iPod|iPad|BlackBerry|IEMobile)/)) { e(window).bind("resize", i) }
            })
        </script>
    }
    <script language="javascript" type="text/javascript" src="/themes/Honda/public/js/pathLoader.js"></script>
    <script language="javascript" type="text/javascript" src="/themes/Honda/public/js/loader.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
