@model SimplCommerce.Module.Catalog.Areas.Catalog.ViewModels.ProductWidgetComponentVm
<!-- Start Doctors Tips
  ============================================= -->
<div class="doctor-tips-area default-padding bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>@Model.WidgetName</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="health-tips-items tips-carousel owl-carousel owl-theme">
                <!-- Single Item -->
                @foreach (var product in Model.Products)
                {
                    <div class="single-item">
                        <div class="col-md-5">
                            <div class="thumb">
                                <img src="@product.ThumbnailUrl" alt="">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="info">
                                <div class="doctor">
                                    <h4><a href="@product.Slug">@product.Name</a></h4>
                                    <h5>@product.CreatedOn.ToString("dd/MM/yyyy")</h5>
                                </div>
                                <h3>Chi tiết</h3>
                                <p>
                                    @Html.Raw(product.ShortDescription)
                                </p>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<!-- End Doctors Tips -->
@*<div class="news-row wrap-help">
        <div id="events">
            <div class="als-viewport">
                <div class="event-container als-wrapper">
                    @foreach (var product in Model.Products)
                    {
                        <div class="event als-item">
                            <div class="event-title">
                                <a href="@product.Slug">@product.Name</a>
                            </div>
                            <div class="event-date">@product.CreatedOn.ToString("dd/MM/yyyy")</div>

                            <div class="event-author"> </div>
                        </div>
                    }
                </div>
            </div>
            <div class="event-navigation">
                <div class="contorll">
                    <div class="als-prev" data-icon="J" class="icon"></div>
                    <div class="als-next" data-icon="U" class="icon"></div>
                </div>
                <div class="events-all">
                    <a href="/san-pham">
                        <span class="text">Xem thêm</span>
                        <span data-icon="I" class="icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="calender-wrap">
            <div id="calendar"></div>
        </div>
    </div>
    <div id="alist-list" class="news-row als-container wrap-help">
        <div class="LatestNews">
            <div class="LatestNews-navigation-cont">
                <div class="LatestNews-heders">
                    <div class="LatestNews-nav-title">
                        Tin tức mới nhất
                    </div>
                    <div class="LatestNews-archive">
                        News <br>archive
                    </div>
                </div>
                <div class="LatestNews-nav">
                    <div class="als-prev" data-icon="J" class="icon"></div>
                    <div class="als-next" data-icon="U" class="icon"></div>
                </div>
            </div>
            @await Component.InvokeAsync("NewItem")
        </div>
    </div>*@

