@model SimplCommerce.Module.Catalog.Areas.Catalog.ViewModels.ProductWidgetComponentVm
@*<div class="doctor-tips-area default-padding bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Sản phẩm <span>mới</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="health-tips-items tips-carousel owl-carousel owl-theme">
                @foreach (var product in Model.Products)
                {
                    <div class="single-item">
                        <div class="col-md-5">
                            <div class="thumb">
                                <img src="@product.ThumbnailUrl" alt="">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="info">
                                <div class="doctor">
                                    <h4><a href="@product.Slug">@product.Name</a></h4>
                                    <h5>@product.CreatedOn.ToString("dd/MM/yyyy")</h5>
                                </div>
                                <h3>Chi tiết</h3>
                                <p>
                                    @Html.Raw(product.ShortDescription)
                                </p>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>*@




<div class="block">
    <div class="block-title">
        <a href="blog.html" class="right">View blog</a>
        <h2>Highlights</h2>
    </div>
    <div class="block-content">
        <ul class="article-block-big">
            <li>
                <div class="article-photo">
                    <a href="post.html" class="hover-effect"><img src="~/themes/Tourims/images/kyketduan19-232_thumb.gif" alt="" /></a>
                </div>
                <div class="article-content">
                    <h4><a href="post.html">Bổ nhiệm đồng chí Nguyễn Văn Chính làm Giám đốc Vườn Quốc gia Cúc Phương</a><a href="post.html#comments" class="h-comment">201</a></h4>
                    <span class="meta">
                        <a href="blog.html"><span class="icon-text">&#128340;</span>11:20, 7.Oct 2013</a>
                    </span>
                </div>
            </li>
            <li>
                <div class="article-photo">
                    <a href="post.html" class="hover-effect"><img src="~/themes/Tourims/images/photos/image-11.jpg" alt="" /></a>
                </div>
                <div class="article-content">
                    <h4><a href="post.html">Nec option veritus ullamcorper quaestio</a><a href="post.html#comments" class="h-comment">74</a></h4>
                    <span class="meta">
                        <a href="blog.html"><span class="icon-text">&#128340;</span>11:20, 7.Oct 2013</a>
                    </span>
                </div>
            </li>
            <li>
                <div class="article-photo">
                    <a href="post.html" class="hover-effect"><img src="~/themes/Tourims/images/photos/image-12.jpg" alt="" /></a>
                </div>
                <div class="article-content">
                    <h4><a href="post.html">Ea fugit appareat quaestio delectus pericula</a><a href="post.html#comments" class="h-comment">39</a></h4>
                    <span class="meta">
                        <a href="blog.html"><span class="icon-text">&#128340;</span>11:20, 7.Oct 2013</a>
                    </span>
                </div>
            </li>
            <li>
                <div class="article-photo">
                    <a href="post.html" class="hover-effect"><img src="~/themes/Tourims/images/photos/image-13.jpg" alt="" /></a>
                </div>
                <div class="article-content">
                    <h4><a href="post.html">Ex cibo ullum nostrum per quo cu utamur fabulas</a><a href="post.html#comments" class="h-comment">99</a></h4>
                    <span class="meta">
                        <a href="blog.html"><span class="icon-text">&#128340;</span>11:20, 7.Oct 2013</a>
                    </span>
                </div>
            </li>
            <li>
                <div class="article-photo">
                    <a href="post.html" class="hover-effect"><img src="~/themes/Tourims/images/photos/image-14.jpg" alt="" /></a>
                </div>
                <div class="article-content">
                    <h4><a href="post.html">Debitis minimum vituperata mei no intellegam</a><a href="post.html#comments" class="h-comment">201</a></h4>
                    <span class="meta">
                        <a href="blog.html"><span class="icon-text">&#128340;</span>11:20, 7.Oct 2013</a>
                    </span>
                </div>
            </li>
            <li>
                <div class="article-photo">
                    <a href="post.html" class="hover-effect"><img src="~/themes/Tourims/images/photos/image-15.jpg" alt="" /></a>
                </div>
                <div class="article-content">
                    <h4><a href="post.html">Debitis minimum vituperata mei no intellegam</a><a href="post.html#comments" class="h-comment">201</a></h4>
                    <span class="meta">
                        <a href="blog.html"><span class="icon-text">&#128340;</span>11:20, 7.Oct 2013</a>
                        <span class="tag">Updated</span>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>
