<!DOCTYPE html>
 
<html lang="en" class="no-js">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <![endif]-->
    <title>@ViewData["Title"]</title>
    @RenderSection("additionalMeta", false)
    <meta name="description" content="Information and guidance on promoting sustainable forest management. Understanding PEFC chain of custody certification for timber, wood based products, paper, packaging and print media. PEFC label generator and UK news and events" />
    <link rel="canonical" href="index.html" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="screen" href="~/themes/ChungChiRung/assets/application-377e84f2e827b8f19ca72719748b5c9eb2cb55427ff3e48255e4683a49843bf0.css" />
    <style>
        #slider_0 {
        }
    </style>
    <style>
        #slider_1 {
        }
    </style>
    <style>
        #slider_2 {
        }
    </style>
    <!-- asynchronous google analytics snippet -->
    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-59235560-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
    <script src="~/themes/ChungChiRung/assets/application-71eeae6e05a250286b7bf88bc83ebd46a65f683dd3d283afbd0bb6cf99b7aa0e.js"></script>
    <script src="~/themes/ChungChiRung/assets/modernizr-min-455cf90276e85bbed48127d49bdfb3b26248611d36fdcbebb3124e56c679e23c.js"></script>
    @RenderSection("head", required: false)
</head>
<body id="home-page">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0&appId=349559452627839&autoLogAppEvents=1" nonce="ulKvYhwg"></script>

    <div class="container">
        <div class="hidden-xs"></div>
        <div class="row">
            <header class="col-xs-12" id="header">
                <div class="header-widget row">
                    <div class="col-sm-2 col">
                        <div class="hidden-xs">
                            <a href="/"><img alt="PEFC" width="180" height= "120"; src="~/themes/ChungChiRung/assets/logo.png" /></a>
                        </div>
                        <div class="visible-xs">
                            <div class="text-center"><a href="/"><img alt="PEFC" width="75" src="~/themes/ChungChiRung/assets/logo.png" /></a></div>
                        </div>
                    </div>
                    <div class="col-sm-6 tagline col">
                        <div class="text-container">
                            <div class="hidden-xs">
                                <h3>VĂN PHÒNG CHỨNG CHỈ RỪNG VIỆT NAM</h3>
                                <h4>VIETNAM FOREST CERTIFICATION OFFICE</h4>
                            </div>
                            <div class="visible-xs">
                                <div class="text-center tagline-small">
                                    <h3>VĂN PHÒNG CHỨNG CHỈ RỪNG VIỆT NAM</h3>
                                    <h4>VIETNAM FOREST CERTIFICATION OFFICE</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 search-container">
                        <div class="search-block">
                            <div class="text-right hidden-xs international col"><img alt="United Kingdom" src="~/themes/ChungChiRung/assets/VN-Vietnam-Flag-icon.png" />Vietnamese <a href="/">Visit PEFC International Website</a></div>
                            <div class="hidden-xs social-media-header"><a href="https://www.facebook.com/PEFCUK"><img src="~/themes/ChungChiRung/assets/facebook-icon-7f77aba2126d0fb4599d86986f555caf8f3aeb884df8359623bc82a1c97d3558.png" alt="Facebook icon" /></a><a href="https://twitter.com/PEFC_UK"><img src="~/themes/ChungChiRung/assets/twitter-icon-daaa49567c269a44c9b6525ec6db4022614da7e0659647e5ba711949fe3eb78a.png" alt="Twitter icon" /></a><a href="https://www.linkedin.com/company/pefc-uk-limited/"><img src="~/themes/ChungChiRung/assets/linkedin-icon-89d6892b23adf259a5609a3f529548baa80ba8ec59d38bf3d53a76400fce1132.png" alt="Linkedin icon" /></a></div>
                            <div class="search-form-large hidden-xs">
                                <form class="form-inline" id="site-search-form" action="/" accept-charset="UTF-8" method="get">
                                    <input name="utf8" type="hidden" value="&#x2713;" /><label class="sr-only" for="query_"></label>
                                    <div class="input-group"><input type="text" name="query" id="query" class="form-control" placeholder="Search..." /><span class="input-group-btn"><button class="btn btn-default" name="commit" type="submit"><span class="glyphicon glyphicon-search"></span></button></span></div>
                                </form>
                            </div>
                            <div class="search-form-small visible-xs">
                                <form class="form-inline" id="site-search-form" action="/" accept-charset="UTF-8" method="get">
                                    <input name="utf8" type="hidden" value="&#x2713;" /><label class="sr-only" for="query_"></label>
                                    <div class="input-group"><input type="text" name="query" id="query" class="form-control" placeholder="Search..." /><span class="input-group-btn"><button class="btn btn-default" name="commit" type="submit"><span class="glyphicon glyphicon-search"></span></button></span></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        @await Component.InvokeAsync("CategoryMenu")
        <section id="page">
            <div class="row">
                <div class="col-xs-12">

                    @RenderSection("featured", false)
                    @RenderBody()
                </div>
            </div>
        </section>
        <footer id="footer">
            <div class="row three-column-content-block-widget">
                <div class="col-sm-4">
                    <h3>Contact Us</h3>
                    <p>Viet Nam Forest Certification Office<br /> Room 309, A9 Building<br />N° 2, Ngoc Ha Street. <br />   Ba Dinh district, Hanoi, Viet Nam. <br /> 
                    <p>Tel:  +84 384 387 92<br />Fax:  +84 384 387 93<br />E-mail: <a href="mailto:vanphongvfco@gmail.com" title="vanphongvfco@gmail.com">vanphongvfco@gmail.com</a></p>
                    <p><a href="disclaimer.html" title="Disclaimer">Disclaimer</a></p>
                    <p><a href="system/resources/W1siZiIsIjIwMTgvMDUvMjQvN3hyNXk2d3h5eV9Qcml2YWN5X1BvbGljeS5kb2MiXV0/Privacy%20Policy.doc" title="Privacy Policy">Privacy Policy</a></p>
                </div>
                <div class="col-sm-4">
                    <h3>The team</h3><p><strong>Dr. Le Van Binh</strong><br>Technical officer</p><p><strong>Msc. Khuat Thi Lan Anh</strong><br>Communications officer</p><p><strong>Mrs. Tran Thi Tuoi</strong><br>Accountant officer</p><p><strong>Dr. Nguyen Van Thịnh&nbsp;</strong><br>Volunteer technical officer</p><p><strong>Msc. Vo Trung Kiên&nbsp;</strong><br>Volunteer development officer</p>
                </div>
                <div class="col-sm-4">
                    <h3>Follow</h3>
                    <p>  <a href="https://www.facebook.com/PEFCUK"><img src="~/themes/ChungChiRung/assets/facebook-icon.png" /></a>  <a href="https://twitter.com/PEFC_UK"><img src="~/themes/ChungChiRung/assets/twitter-icon.png" /></a>  <a href="https://www.youtube.com/user/pefcinternational"><img src="~/themes/ChungChiRung/assets/youtube-icon.png" /></a>  <a href="https://www.linkedin.com/company/pefc-uk-limited/"><img src="~/themes/ChungChiRung/assets/linkedin-icon.png" class="selected_by_wym" /></a></p>
                </div>
            </div>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
