@using System.Threading.Tasks
@addTagHelper *, SimplCommerce.Infrastructure

@model SimplCommerce.Module.Catalog.Areas.Catalog.ViewModels.ProductsByCategory
@{
    ViewBag.Title = Model.CategoryMetaTitle ?? Model.CategoryName;
}
@section additionalMeta {
    <meta name="title" content="@ViewBag.Title" />
    <meta name="keywords" content="@Model.CategoryMetaKeywords" />
    <meta name="description" content="@Model.CategoryMetaDescription" />
}
<div id="primary">
    <div id="content" class="clearfix">
        <header class="page-header">
            <h1 class="page-title" style="border-bottom-color: #289dcc"><span style="background-color: #289dcc">Fashion</span></h1>
        </header>
        <div class="article-container">
            @foreach (var product in Model.Products)
            {
                if (product == Model.Products.First())
                {
                    <article id="post-@product.Id" class="post-70 post type-post status-publish format-standard has-post-thumbnail hentry category-fashion category-female category-style">
                        <div class="featured-image"> <a href="@product.Slug" title="@product.Name"><img width="800" height="445" src="@product.ThumbnailUrl" class="attachment-colormag-featured-image size-colormag-featured-image wp-post-image" alt=""></a></div>
                        <div class="article-content clearfix">
                            <div class="above-entry-meta">
                                <span class="cat-links">
                                    @foreach (var category in product.Categories)
                                    {
                                        <a href="@category.Category.Slug" style="background:#289dcc" rel="category tag">@category.Category.Name</a>
                                    }

                                </span>
                            </div>
                            <header class="entry-header">
                                <h2 class="entry-title"> <a href="@product.Slug" title="@product.Name">@product.Name</a></h2>
                            </header>
                            <div class="below-entry-meta">
                                <span class="posted-on">
                                    <a href="@product.Slug" title="@product.CreatedOn.ToString("dd/MM/yyyy hh:ss")" rel="bookmark">
                                        <i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="@product.CreatedOn.ToString("dd/MM/yyyy hh:ss")">@product.CreatedOn.ToString("dd/MM/yyyy hh:ss")</time>
                                    </a>
                                </span>
                            </div>
                            <div class="entry-content clearfix">
                                @Html.Raw(product.ShortDescription)
                                <a class="more-link" title="@product.Name" href="@product.Slug"><span>Đọc tiếp</span></a>
                            </div>
                        </div>
                    </article>
                }
                else
                {
                    <article id="post-@product.Id" class="post-66 post type-post status-publish format-standard has-post-thumbnail hentry category-fashion category-general">
                        <div class="featured-image"> <a href="@product.Slug" title="@product.Name"><img width="800" height="445" src="@product.ThumbnailUrl" class="attachment-colormag-featured-image size-colormag-featured-image wp-post-image" alt=""></a></div>
                        <div class="article-content clearfix">
                            <div class="above-entry-meta">
                                <span class="cat-links">
                                    @foreach (var category in product.Categories)
                                    {
                                        <a href="@category.Category.Slug" style="background:#289dcc" rel="category tag">@category.Category.Name</a>
                                    }
                                </span>
                            </div>
                            <header class="entry-header">
                                <h2 class="entry-title"> <a href="@product.Slug" title="@product.Name">@product.Name</a></h2>
                            </header>
                            <div class="below-entry-meta">
                                <span class="posted-on">
                                    <a href="@product.Slug" title="@product.CreatedOn.ToString("dd/MM/yyyy hh:mm")" rel="bookmark">
                                        <i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="@product.CreatedOn.ToString("dd/MM/yyyy hh:mm")">@product.CreatedOn.ToString("dd/MM/yyyy hh:mm")</time>
                                    </a>
                                </span>
                            </div>
                            <div class="entry-content clearfix">
                                @Html.Raw(product.ShortDescription)
                                <a class="more-link" title="@product.Name" href="@product.Slug"><span>Đọc tiếp</span></a>
                            </div>
                        </div>

                    </article>
                }

            }
        </div>
    </div>
</div>
@await Component.InvokeAsync("NewProduct")
@section scripts {
    <script simpl-append-version="true" src="~/lib/wnumb/wNumb.js"></script>
    <script simpl-append-version="true" src="~/lib/nouislider/distribute/nouislider.min.js"></script>

    <script>
        var productFilter = {};
        var count=2;



        function loadMoreProduct(){
            $.ajax({
                url:'/Catalog/Category/CategoryDetailLoadMore/@Model.CategoryId?page='+count,
                type:'get',
                success:function(html){
                    if(count=='@Model.CurrentSearchOption.PageCount')
                    {
                        $('.load-more').css('display','none');
                    }
                    ++count;
                    $('.homeproduct').append(html);
                },
                error:function(ex){
                    console.log(ex);
                }

            })
        }
    </script>
    <script simpl-append-version="true" src="~/modules/catalog/product-filter.js"></script>
    <script simpl-append-version="true" src="~/themes/TheGioiDiDong/js/category.js"></script>
}
