@using System.Threading.Tasks
@addTagHelper *, SimplCommerce.Infrastructure

@model SimplCommerce.Module.Catalog.Areas.Catalog.ViewModels.ProductsByCategory
@{
    ViewBag.Title = Model.CategoryMetaTitle ?? Model.CategoryName;
}
@section additionalMeta {
    <meta name="title" content="@ViewBag.Title" />
    <meta name="keywords" content="@Model.CategoryMetaKeywords" />
    <meta name="description" content="@Model.CategoryMetaDescription" />
}


<!-- Start Breadcrumb
    ============================================= -->
<div class="breadcrumb-area shadow dark bg-fixed text-light" style="background-image: url(/themes/Beauty/img/banner/banner.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Khóa học</h1>
            </div>
            <div class="col-md-6 text-right">
                <ul class="breadcrumb">
                    <li><a href="/"><i class="fas fa-home"></i> Trang chủ</a></li>
                    <li class="active">Khóa học</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->
<!-- Start Services
============================================= -->
<div class="departments-area bg-gray default-padding bottom-less">
    <div class="container">
        <div class="row">
            <div class="department-items text-center">
                @foreach (var product in Model.Products)
                {
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <div class="thumb">
                                <a href="#"><img src="@product.ThumbnailUrl" alt="@product.Name"></a>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="@product.Slug">@product.Name</a>
                                </h4>
                                <ul>
                                    <li>
                                        <a class="btn btn-outline-info">Giá: @product.CalculatedProductPrice.Price.ToString("C0")</a>
                                    </li>
                                    <li>
                                        <a href="@product.Slug" class="btn btn-primary">chi tiết</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- End Services -->
