@model LoginViewModel
@inject SignInManager<User> SignInManager
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.OpenIdConnect

@{
    ViewData["Title"] = Localizer["Log in"];
}
    <style>
        .double-block .content-block.main {
            width: 890px !important;
        }
    </style>
<div class="main-page left">

    <!-- BEGIN .single-block -->
    <div class="single-block">


        <!-- BEGIN .content-block -->
        <div class="content-block main left">

            <div class="block">
                <div class="block-content">
                    <div class="article-title">
                        <div class="block-title">
                            <h2>@Localizer["Use a local account to log in."]</h2>
                        </div>
                        <div class="block-content">
                            <div id="writecomment">

                                <form asp-area="Core" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" class="frm-authentication" method="post">
                                    <h4></h4>

                                    @*<div class="coloralert" style="background: #a12717;">
                                        <p>  <div asp-validation-summary="All" class="text-danger"></div></p>
                                        <a href="#close-alert" class="icon-text">✖</a>
                                    </div>*@
                                    <p class="contact-form-email">
                                        <label for="c_email">@Localizer["Email"]<span class="required">*</span></label>
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </p>
                                    <p class="contact-form-webside">
                                        <label for="c_webside">@Localizer["Password"]<span class="required">*</span></label>
                                        <input asp-for="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </p>
                                    <p>  <button type="submit" class="btn btn-primary styled-button">@Localizer["Log in"]</button></p>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
