@addTagHelper *, SimplCommerce.Infrastructure
@model SimplCommerce.Module.Catalog.Areas.Catalog.ViewModels.ProductWidgetComponentVm
@using System.Globalization

@if (@Model.WidgetName == "GIỚI THIỆU")
{
    <div class="block">
        <div class="block-title">
            @*<a href="/" class="right">View blog</a>*@
            <h2>@Localizer[Model.WidgetName]</h2>
        </div>
        <div class="block-content">
            <ul class="article-block-big">
                @foreach (var product in Model.Products)
                {
                    @if (CultureInfo.CurrentCulture.Name == "vi-VN")
                    {
                        <li>
                            <div class="article-photo">
                                <a href="post.html" class="hover-effect"><img src="@product.ThumbnailUrl" alt="@product.Name" /></a>
                            </div>
                            <div class="article-content">
                                <h4><a href="@product.Slug">@product.Name</a></h4>
                                <span class="meta">
                                    <a href="@product.Slug"><span class="icon-text">&#128340;</span>@product.CreatedOn.ToString("dd/MM/yyyy")</a>
                                </span>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li>
                            <div class="article-photo">
                                <a href="@product.Slug" class="hover-effect"><img src="@product.ThumbnailUrl" alt="@product.NameEN" /></a>
                            </div>
                            <div class="article-content">
                                <h4><a href="@product.Slug">@product.NameEN</a></h4>
                                <span class="meta">
                                    <a href="@product.Slug"><span class="icon-text">&#128340;</span>@product.CreatedOn.ToString("dd/MM/yyyy")</a>
                                </span>
                            </div>
                        </li>
                    }

                }

            </ul>
        </div>
    </div>
}
@if (@Model.WidgetName == "TIN TỨC VÀ SỰ KIỆN TẠI VƯỜN QUỐC GIA")
{
    <div class="block">
        <div class="block-title" style="background: #2182b4;">
            @*<a href="category.html" class="right">Latest News From World</a>*@
            <h2>@Localizer[Model.WidgetName]</h2>
        </div>
        <div class="block-content">
            @{
                var productFirst = Model.Products.FirstOrDefault();
                if (productFirst != null && CultureInfo.CurrentCulture.Name == "vi-VN")
                {
                    <div class="wide-article">
                        <div class="article-photo">
                            <a href="@productFirst.Slug" class="hover-effect"><img src="@productFirst.ThumbnailUrl" alt="@productFirst.Name" style="height:150px;width:134px" /></a>
                        </div>
                        <div class="article-content">
                            <h2><a href="@productFirst.Slug" style="font-size:13px">@productFirst.Name</a></h2>
                            <span class="meta">
                                <a href="blog.html"><span class="icon-text">&#128340;</span>@productFirst.CreatedOn.ToString("dd/MM/yyyy")</a>
                            </span>
                            <p style="font-size:12px">@Html.Raw(productFirst.ShortDescription)</p>
                        </div>
                    </div>
                }
                if (productFirst != null && CultureInfo.CurrentCulture.Name != "vi-VN")
                {
                    <div class="wide-article">
                        <div class="article-photo">
                            <a href="@productFirst.Slug" class="hover-effect"><img src="@productFirst.ThumbnailUrl" alt="@productFirst.NameEN"  style="height:150px;width:134px" /></a>
                        </div>
                        <div class="article-content">
                            <h2><a href="@productFirst.Slug" style="font-size:13px">@productFirst.NameEN</a></h2>
                            <span class="meta">
                                <a href="blog.html"><span class="icon-text">&#128340;</span>@productFirst.CreatedOn.ToString("dd/MM/yyyy")</a>
                            </span>
                            @Html.Raw(productFirst.ShortDescriptionEN)
                        </div>
                    </div>
                }
            }



            <div class="paragraph-row">

                <!-- BEGIN .column6 -->
                <div class="column6">
                    <ul class="article-block">
                        @foreach (var product in Model.Products.Skip(0).Take(3))
                        {
                            @if (CultureInfo.CurrentCulture.Name == "vi-VN")
                            {
                                <li>
                                    <div class="article-photo">
                                        <a href="post.html" class="hover-effect"><img src="@product.ThumbnailUrl" alt="@product.Name"  style="height: 75px;width: 80px" /></a>
                                    </div>
                                    <div class="article-content">
                                        <h4><a href="@product.Slug">@product.Name</a></h4>
                                        <span class="meta">
                                            <a href="@product.Slug"><span class="icon-text">&#128340;</span>@product.CreatedOn.ToString("dd/MM/yyyy")</a>
                                        </span>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <div class="article-photo">
                                        <a href="post.html" class="hover-effect"><img src="@product.ThumbnailUrl" alt="@product.NameEN"   style="height: 75px;width: 80px" /></a>
                                    </div>
                                    <div class="article-content">
                                        <h4><a href="@product.Slug">@product.NameEN</a></h4>
                                        <span class="meta">
                                            <a href="@product.Slug"><span class="icon-text">&#128340;</span>@product.CreatedOn.ToString("dd/MM/yyyy")</a>
                                        </span>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>

                <div class="column6">
                    <ul class="article-block">
                        @foreach (var product in Model.Products.Skip(0).Take(3))
                        {
                            @if (CultureInfo.CurrentCulture.Name == "vi-VN")
                            {
                                <li>
                                    <div class="article-photo">
                                        <a href="post.html" class="hover-effect"><img src="@product.ThumbnailUrl" alt="@product.Name"    style="height: 75px;width: 80px"/></a>
                                    </div>
                                    <div class="article-content">
                                        <h4><a href="@product.Slug">@product.Name</a></h4>
                                        <span class="meta">
                                            <a href="@product.Slug"><span class="icon-text">&#128340;</span>@product.CreatedOn.ToString("dd/MM/yyyy")</a>
                                        </span>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <div class="article-photo">
                                        <a href="post.html" class="hover-effect"><img src="@product.ThumbnailUrl" alt="@product.NameEN"   style="height: 75px;width: 80px"/></a>
                                    </div>
                                    <div class="article-content">
                                        <h4><a href="@product.Slug">@product.NameEN</a></h4>
                                        <span class="meta">
                                            <a href="@product.Slug"><span class="icon-text">&#128340;</span>@product.CreatedOn.ToString("dd/MM/yyyy")</a>
                                        </span>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>

            </div>

        </div>
    </div>
}
@if (@Model.WidgetName == "CÁC CHƯƠNG TRÌNH THAM QUAN")
{
    <div class="block">
        <div class="block-title" style="background: #dd8229;">
           @* <a href="category.html" class="right">View all travel news</a>*@
            <h2>@Localizer[Model.WidgetName]</h2>
        </div>
        <div class="block-content">
            <ul class="article-block-big">
                @*<li>
            <div class="article-photo">
                <a href="post.html" class="hover-effect"><img src="~/themes/Tourims/images/photos/image-10.jpg" alt="" /></a>
            </div>
            <div class="article-content">
                <h4><a href="post.html">Debitis minimum vituperata mei no adipiscing</a><a href="post.html#comments" class="h-comment">201</a></h4>
                <span class="meta">
                    <a href="blog.html"><span class="icon-text">&#128340;</span>11:20, 7.Oct 2013</a>
                </span>
            </div>
        </li>
        <li>
            <div class="article-photo">
                <a href="post.html" class="hover-effect"><img src="~/themes/Tourims/images/photos/image-11.jpg" alt="" /></a>
            </div>
            <div class="article-content">
                <h4><a href="post.html">Nec option veritus ullamcorper quaestio</a><a href="post.html#comments" class="h-comment">74</a></h4>
                <span class="meta">
                    <a href="blog.html"><span class="icon-text">&#128340;</span>11:20, 7.Oct 2013</a>
                    <span class="tag" style="background: #2a8ece;">Custom Tag</span>
                </span>
            </div>
        </li>
        <li>
            <div class="article-photo">
                <a href="post.html" class="hover-effect"><img src="~/themes/Tourims/images/photos/image-12.jpg" alt="" /></a>
            </div>
            <div class="article-content">
                <h4><a href="post.html">Ea fugit appareat quaestio delectus pericula</a><a href="post.html#comments" class="h-comment">39</a></h4>
                <span class="meta">
                    <a href="blog.html"><span class="icon-text">&#128340;</span>11:20, 7.Oct 2013</a>
                </span>
            </div>
        </li>
        <li>
            <div class="article-photo">
                <a href="post.html" class="hover-effect"><img src="~/themes/Tourims/images/photos/image-13.jpg" alt="" /></a>
            </div>
            <div class="article-content">
                <h4><a href="post.html">Ex cibo ullum nostrum per quo cu utamur fabulas</a><a href="post.html#comments" class="h-comment">99</a></h4>
                <span class="meta">
                    <a href="blog.html"><span class="icon-text">&#128340;</span>11:20, 7.Oct 2013</a>
                </span>
            </div>
        </li>
        <li>
            <div class="article-photo">
                <a href="post.html" class="hover-effect"><img src="~/themes/Tourims/images/photos/image-14.jpg" alt="" /></a>
            </div>
            <div class="article-content">
                <h4><a href="post.html">Debitis minimum vituperata mei no intellegam</a><a href="post.html#comments" class="h-comment">201</a></h4>
                <span class="meta">
                    <a href="blog.html"><span class="icon-text">&#128340;</span>11:20, 7.Oct 2013</a>
                </span>
            </div>
        </li>
        <li>
            <div class="article-photo">
                <a href="post.html" class="hover-effect"><img src="~/themes/Tourims/images/photos/image-15.jpg" alt="" /></a>
            </div>
            <div class="article-content">
                <h4><a href="post.html">Debitis minimum vituperata mei no intellegam</a><a href="post.html#comments" class="h-comment">201</a></h4>
                <span class="meta">
                    <a href="blog.html"><span class="icon-text">&#128340;</span>11:20, 7.Oct 2013</a>
                </span>
            </div>
        </li>*@
                @foreach (var product in Model.Products)
                {
                    @if (CultureInfo.CurrentCulture.Name == "vi-VN")
                    {
                        <li>
                            <div class="article-photo">
                                <a href="post.html" class="hover-effect"><img src="@product.ThumbnailUrl" alt="@product.Name" /></a>
                            </div>
                            <div class="article-content">
                                <h4><a href="@product.Slug">@product.Name</a></h4>
                                <span class="meta">
                                    <a href="@product.Slug"><span class="icon-text">&#128340;</span>@product.CreatedOn.ToString("dd/MM/yyyy")</a>
                                </span>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li>
                            <div class="article-photo">
                                <a href="post.html" class="hover-effect"><img src="@product.ThumbnailUrl" alt="@product.NameEN" /></a>
                            </div>
                            <div class="article-content">
                                <h4><a href="@product.Slug">@product.NameEN</a></h4>
                                <span class="meta">
                                    <a href="@product.Slug"><span class="icon-text">&#128340;</span>@product.CreatedOn.ToString("dd/MM/yyyy")</a>
                                </span>
                            </div>
                        </li>
                    }

                }
            </ul>
        </div>
    </div>
}

