<!DOCTYPE HTML>
<!-- BEGIN html -->
<html lang="en">
<head>
    <title>Vườn quốc gia Cúc phương</title>
    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    @RenderSection("additionalMeta", false)

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/themes/Tourims/images/favicon.ico" type="image/x-icon" />

    <!-- Stylesheets -->
    <link type="text/css" rel="stylesheet" href="~/themes/Tourims/css/reset.css" />
    <link type="text/css" rel="stylesheet" href="~/themes/Tourims/css/main-stylesheet.css" />
    <link type="text/css" rel="stylesheet" href="~/themes/Tourims/css/lightbox.css" />
    <link type="text/css" rel="stylesheet" href="~/themes/Tourims/css/shortcode.css" />
    <link type="text/css" rel="stylesheet" href="~/themes/Tourims/css/fonts.css" />
    <link type="text/css" rel="stylesheet" href="~/themes/Tourims/css/colors.css" />
    <!--[if lte IE 8]>
    <link type="text/css" rel="stylesheet" href="~/themes/Tourims/css/ie-ancient.css" />
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="~/themes/Tourims/css/responsive.css" />

    <!-- Demo Only -->
    @*<link type="text/css" rel="stylesheet" href="~/themes/Tourims/css/demo-settings.css" />*@
    @RenderSection("head", required: false)
    <!-- END head -->
</head>

<!-- BEGIN body -->
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0"></script>
    @*@RenderSection("featured", false)*@
    @*<div class="top-bar">
            <div class="container">
                <ul class="nav justify-content-end">
                    <partial name="_SelectLanguagePartial" />
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>*@
    <!-- BEGIN .boxed -->
    <div class="boxed active">

        <!-- BEGIN .header -->
        <div class="header">

            <!-- BEGIN .wrapper -->
            <div class="wrapper">

                <div class="header-logo">
                    <a href="/"><img src="~/themes/Tourims/images/logo-header.png" alt="" /></a>
                </div>

                <div class="header-menu">
                    <p>
                        @Localizer["Vườn bách thảo Cúc Phương được thành lập năm 1985 và cũng là nơi đầu tiên nằm trong hệ thống vườn quốc gia và khu bảo tồn tại Việt Nam"]
                    </p>
                </div>

                <div class="header-addons">
                    <div class="header-weather">
                        <span class="report">+25°C</span>
                        <img src="~/themes/Tourims/images/weather-sun-cloud.png" alt="" />
                        <span class="city"><small>Cloudy</small><b>Hà nội</b></span>
                    </div>
                    <div class="header-search">
                        <form action="#" method="get">
                            <input type="text" placeholder="Search something.." value="" class="search-input" />
                            <input type="submit" value="Search" class="search-button" />
                        </form>
                    </div>
                </div>

                <!-- END .wrapper -->
            </div>

            @await Component.InvokeAsync("CategoryMenu")

            <div class="secondary-menu">

                <!-- BEGIN .wrapper -->
                <div class="wrapper">

                    <ul>
                        <li><a href="/">@(DateTime.Today.DayOfWeek + "(" + @DateTime.Today.Date.ToString("dd/MM/yyyy") + ")")</a></li>
                    </ul>

                    <!-- END .wrapper -->
                </div>

            </div>

            <!-- END .header -->
        </div>

        <!-- BEGIN .content -->
        <div class="content">

            <!-- BEGIN .wrapper -->
            <div class="wrapper">

                <div class="ad-banner">
                    <a href="contact-us.html" class="ad-link top"><span class="icon-text">&#9662;</span>Advertisement<span class="icon-text">&#9662;</span></a>
                </div>
                @await Component.InvokeAsync("Headline")

                <div class="main-content">

                    <!-- BEGIN .main-page -->
                    <div class="main-page left">

                        <!-- BEGIN .double-block -->
                        <div class="double-block">

                            <!-- BEGIN .content-block -->
                            @RenderBody()
                            <!-- BEGIN .content-block -->
                            <!-- END .double-block -->
                        </div>

                        <!-- END .main-page -->
                    </div>

                    <!-- BEGIN .main-sidebar -->
                    <div class="main-sidebar right">
                        <!-- BEGIN .widget -->
                        <div class="widget">
                            <h3>@Localizer["Liên kết"]</h3>
                            <div class="widget-social">
                                <div class="fb-page" data-href="https://www.facebook.com/caychongannam/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/caychongannam/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/caychongannam/">Vườn Quốc Gia Cúc Phương</a></blockquote></div>
                            </div>
                            <!-- END .widget -->
                        </div>

                        <!-- BEGIN .widget -->
                        <div class="widget">
                            <h3>@Localizer["Lịch"]</h3>
                            <div id="calendar_wrap">
                                <table id="wp-calendar">
                                    <caption>@DateTime.Today.ToShortDateString()</caption>
                                    @{ int dateOfWeek = DateTime.Today.Day;}
                                    <thead>
                                        <tr>
                                            <th scope="col" title="Monday">M</th>
                                            <th scope="col" title="Tuesday">T</th>
                                            <th scope="col" title="Wednesday">W</th>
                                            <th scope="col" title="Thursday">T</th>
                                            <th scope="col" title="Friday">F</th>
                                            <th scope="col" title="Saturday">S</th>
                                            <th scope="col" title="Sunday">S</th>
                                        </tr>
                                    </thead>

                                    <tfoot>
                                        <tr>
                                            <td colspan="3" id="prev"></td>
                                            <td class="pad">&nbsp;</td>
                                            <td colspan="3" id="next" class="pad">&nbsp;</td>
                                        </tr>
                                    </tfoot>

                                    <tbody>
                                        <tr>
                                            <td colspan="1" class="pad">&nbsp;</td>
                                            @for (int i = 1; i < 7; i++)
                                            {
                                        <td id="@(i==dateOfWeek?"today":"")">@i</td>
                                            }
                                        </tr>
                                        <tr>
                                            @for (int i = 7; i < 13; i++)
                                            {
                                                <td id="@(i==dateOfWeek?"today":"")">@i</td>
                                            }
                                        </tr>
                                        <tr>
                                            @for (int i = 14; i < 20; i++)
                                            {
                                                <td id="@(i==dateOfWeek?"today":"")">@i</td>
                                            }
                                        </tr>
                                        <tr>
                                            @for (int i = 21; i < 27; i++)
                                            {
                                                <td id="@(i==dateOfWeek?"today":"")">@i</td>
                                            }
                                        </tr>
                                        <tr>
                                            @for (int i = 28; i <= 31; i++)
                                            {
                                                <td id="@(i==dateOfWeek?"today":"")">@i</td>
                                            }
                                            <td class="pad" colspan="3">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END .widget -->
                        </div>

                        <!-- BEGIN .widget -->
                        <div class="widget">
                            <h3>@Localizer["THƯ VIỆN ẢNH MỚI NHẤT"]</h3>
                            <div class="latest-galleries">

                                <div class="gallery-widget">
                                    <div class="gallery-photo" rel="hover-parent">
                                        <a href="#" class="slide-left icon-text">&#59229;</a>
                                        <a href="#" class="slide-right icon-text">&#59230;</a>
                                        <ul>
                                            <li><a href="photo-gallery-single.html" class="hover-effect"><img src="~/themes/Tourims/images/chim_cong_4.jpg" alt="" /></a></li>
                                            <li><a href="photo-gallery-single.html" class="hover-effect"><img src="~/themes/Tourims/images/don.jpg" alt="" /></a></li>
                                        </ul>
                                    </div>
                                    <div class="gallery-content">
                                        <h4><a href="photo-gallery-single.html">Chim công</a></h4>
                                        <span class="meta">
                                            <span class="right">23 photos</span>
                                            <a href="photo-gallery-single.html"><span class="icon-text">&#59212;</span>View all photos</a>
                                        </span>
                                    </div>
                                </div>

                                <div class="gallery-widget">
                                    <div class="gallery-photo" rel="hover-parent">
                                        <a href="#" class="slide-left icon-text">&#59229;</a>
                                        <a href="#" class="slide-right icon-text">&#59230;</a>
                                        <ul>
                                            <li><a href="photo-gallery-single.html" class="hover-effect"><img src="~/themes/Tourims/images/don.jpg" alt="" /></a></li>
                                            <li><a href="photo-gallery-single.html" class="hover-effect"><img src="~/themes/Tourims/images/chim_cong_4.jpg" alt="" /></a></li>
                                        </ul>
                                    </div>
                                    <div class="gallery-content">
                                        <span class="meta">
                                            <span class="right">35 photos</span>
                                            <a href="photo-gallery-single.html"><span class="icon-text">&#59212;</span>View all photos</a>
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <!-- END .widget -->
                        </div>
                        <div class="widget">
                            <h3>Views</h3>
                            <div class="tag-cloud">
                                <a href="category.html">Hôm qua :20343</a><br />
                                <a href="category.html">Hôm nay : 3234</a><br />
                                <a href="category.html">Tháng này : 329385</a><br />
                            </div>
                            <!-- END .widget -->
                        </div>
                        <!-- END .main-sidebar -->
                    </div>

                    <div class="clear-float"></div>

                </div>

                <!-- END .wrapper -->
            </div>

            <!-- BEGIN .content -->
        </div>

        <!-- BEGIN .footer -->
        <div class="footer">

            <!-- BEGIN .wrapper -->
            <div class="wrapper">

                <ul class="right">
                    <li><a href="/">@Localizer["Trang chủ"]</a></li>
                    @*<li><a href="blog.html">Blog Page</a></li>
                        <li><a href="photo-gallery.html">Photo Gallery</a></li>
                        <li><a href="error-404.html">404 Error Page</a></li>
                        <li><a href="contact-us.html">Contact Us</a></li>*@
                </ul>

                <a href="/" class="logo-footer"><img src="~/themes/Tourims/images/logo-footer.png" alt="" /></a>

                <p>&copy; Copyrights ® 2011-2019 by <b>CUCPHUONG NATIONAL PARK.</b>. All Rights reserved.<br /></p>

                <!-- END .wrapper -->
            </div>

            <!-- END .footer -->
        </div>

        <!-- END .boxed -->
    </div>

    <!-- Scripts -->
    <script type="text/javascript" src="~/themes/Tourims/jscript/jquery-latest.min.js"></script>
    <script type="text/javascript" src="~/themes/Tourims/jscript/theme-scripts.js"></script>
    <script type="text/javascript" src="~/themes/Tourims/jscript/lightbox.js"></script>
    @*<script type="text/javascript" src="~/themes/Tourims/jscript/demo-settings.js"></script>*@
    <script type="text/javascript" src="~/modules/core/main.js"></script>
    @RenderSection("scripts", required: false)
    <!-- END body -->
</body>
<!-- END html -->
</html>
