<!DOCTYPE HTML>
<!-- BEGIN html -->
<html lang="en">
<head>
    <title>Vườn quốc gia Cúc phương</title>
    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta property="fb:app_id" content="349559452627839" />
    <meta property="og:url" content="@ViewBag.Host" />
    <meta property="og:title" content="Du lịch Cúc Phương, Vườn quốc gia Cúc phương" />
    <meta property="og:description" content="Vườn quốc gia đầu tiên của Việt Nam" />
    <meta property="og:image" content="http://dulichcucphuong.com.vn/themes/Tourims/images/cpnp-logo.png" />
    <meta property="og:type" content="website" /> 
    <meta property="og:site_name" content="Vườn quốc gia Cúc phương" />
    @RenderSection("additionalMeta", false)

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/themes/Tourims/images/favicon.ico" type="image/x-icon" />

    <!-- Stylesheets -->
    <link simpl-append-version="true" type="text/css" rel="stylesheet" href="~/themes/Tourims/css/reset.css" />
    <link simpl-append-version="true" type="text/css" rel="stylesheet" href="~/themes/Tourims/css/main-stylesheet.css" />
    <link simpl-append-version="true" type="text/css" rel="stylesheet" href="~/themes/Tourims/css/lightbox.css" />
    <link simpl-append-version="true" type="text/css" rel="stylesheet" href="~/themes/Tourims/css/shortcode.css" />
    @*<link simpl-append-version="true"  type="text/css" rel="stylesheet" href="~/themes/Tourims/css/fonts.css" />*@
    <link simpl-append-version="true" type="text/css" rel="stylesheet" href="~/themes/Tourims/css/colors.css" />
    <!--[if lte IE 8]>
    <link type="text/css" rel="stylesheet" href="~/themes/Tourims/css/ie-ancient.css" />
    <![endif]-->
    <link simpl-append-version="true" type="text/css" rel="stylesheet" href="~/themes/Tourims/css/responsive.css" />
    <link simpl-append-version="true" rel="stylesheet" type="text/css" href="~/themes/CozaStore/vendor/slick/slick.css" />
    <link simpl-append-version="true" href="~/themes/Tourims/css/site.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    @RenderSection("head", required: false)
    <!-- END head -->
</head>

<!-- BEGIN body -->
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0&appId=349559452627839&autoLogAppEvents=1"></script>
    @*@RenderSection("featured", false)*@
    @*<div class="top-bar">
            <div class="container">
                <ul class="nav justify-content-end">
                    <partial name="_SelectLanguagePartial" />
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>*@
    <!-- BEGIN .boxed -->
    <div class="boxed active">

        <!-- BEGIN .header -->
        <div class="header">

            <!-- BEGIN .wrapper -->
            <div class="wrapper banner">

                <div class="header-logo">
                    @*<img src="~/themes/Tourims/images/cpnp-logo.png" />*@
                </div>

                <div class="header-menu" style="text-align:center;padding-top: 40px;padding-left: 200px;">
                    @*<h4 style="width: 526px;color: #edda07;font-weight: bold;">VƯỜN QUỐC GIA ĐẦU TIÊN CỦA VIỆT NAM</h4>
                    <h6 style="color: #e6d608;font-style: italic;">CUC PHUONG NATIONAL PARK</h6>*@
                </div>
                <div class="header-addons">
                    <div class="header-weather">
                        @*<span class="report"><i class="zmdi zmdi-search-in-page"></i></span> <br />*@
                        <br />
                        <div class="header-search pull-right">
                            <form action="Search" method="get">
                                <input type="text" placeholder="@Localizer["Tìm kiếm"].." value="" name="query" class="search-input" />
                                <input type="submit" value="Search" class="search-button" />
                            </form>
                        </div>
                    </div>
                    <div class="header-weather">

                        @*@await Component.InvokeAsync("FooterPage", new { id = 22 })*@
                    </div>
                    @*<div class="header-search">
                            <form action="#" method="get">
                                <input type="text" placeholder="@Localizer["Tìm kiếm"].." value="" class="search-input" />
                                <input type="submit" value="Search" class="search-button" />
                            </form>
                        </div>*@

                </div>

                <!-- END .wrapper -->
            </div>

            @await Component.InvokeAsync("CategoryMenu")

            <div class="secondary-menu">

                @*<div class="wrapper">
                        <a href="/" style="color:#000000">@(DateTime.Today.DayOfWeek + "(" + @DateTime.Today.Date.ToString("dd/MM/yyyy") + ")")</a>
                        <div class="header-search pull-right">
                            <form action="Search" method="get">
                                <input type="text" placeholder="@Localizer["Tìm kiếm"].." value="" name="query" class="search-input" />
                                <input type="submit" value="Search" class="search-button" />
                            </form>
                        </div>
                    </div>*@

            </div>

        </div>

        <div class="content">

            <div class="wrapper">

                @*@await Component.InvokeAsync("Headline")*@

                <div class="main-content">
                    @RenderBody()
                    @if (ViewBag.IsHomePage == null)
                    {
                        <div class="main-sidebar right">
                            <div class="widget">
                                <h3>@Localizer["Liên kết"]</h3>
                                <div class="widget-social">
                                    <div class="fb-page" data-href="https://www.facebook.com/CPNPtourism/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/CPNPtourism/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/CPNPtourism/">Vườn Quốc Gia Cúc Phương</a></blockquote></div>
                                </div>
                            </div>
                            <div class="widget">
                                <h3>@Localizer["Banner"]</h3>
                                <div class="latest-galleries">

                                    <div class="gallery-widget">
                                        @await Component.InvokeAsync("FooterPage", new { id = 19 })
                                    </div>

                                    <div class="gallery-widget">
                                        @await Component.InvokeAsync("FooterPage", new { id = 20 })
                                    </div>

                                </div>
                            </div>
                            <div class="widget">
                                <h3>Views</h3>
                                <div class="tag-cloud">
                                    <a href="category.html">Hôm qua :20343</a><br />
                                    <a href="category.html">Hôm nay : 3234</a><br />
                                    <a href="category.html">Tháng này : 329385</a><br />
                                </div>
                            </div>
                        </div>
                    }
                    <div class="clear-float"></div>

                </div>
            </div>
        </div>
        <div class="footer">

            <!-- BEGIN .wrapper -->
            <div class="wrapper">

                <ul class="right">
                    <li><a href="/"><i class="zmdi zmdi-home"></i></a></li>
                    @*<li><a href="/ban-do-cuc-phuong">Bản đồ du lịch</a></li>*@
                    <li><a href="https://www.facebook.com/CPNPtourism/" target="_blank"><i class="zmdi zmdi-facebook-box"></i></a></li>
                    <li><a href="https://lichvannien365.com/lich-am-duong" target="_blank"><i class="zmdi zmdi-calendar-note"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCHQv1POXF0ppZoZ-HLmlVlw" target="_blank"><i class="zmdi zmdi-youtube-play"></i></a></li>
                    <li><a href="/lien-he"><i class="zmdi zmdi-phone"></i></a></li>
                </ul>

                @*<a href="/" class="logo-footer"><img src="~/themes/Tourims/images/logo-footer.png" alt="" /></a>*@

                <p>&copy; Copyrights ® 2011-@DateTime.Now.Year by <b>CUCPHUONG NATIONAL PARK.</b>. All Rights reserved.<br /></p>

                <!-- END .wrapper -->
            </div>

            <!-- END .footer -->
        </div>

        <!-- END .boxed -->
    </div>

    <!-- Scripts -->
    <script simpl-append-version="true" type="text/javascript" src="~/themes/Tourims/jscript/jquery-latest.min.js"></script>
    <script simpl-append-version="true" type="text/javascript" src="~/themes/Tourims/jscript/theme-scripts.js"></script>
    <script simpl-append-version="true" type="text/javascript" src="~/themes/Tourims/jscript/lightbox.js"></script>
    @*<script type="text/javascript" src="~/themes/Tourims/jscript/demo-settings.js"></script>*@
    <script type="text/javascript" simpl-append-version="true" src="~/modules/core/main.js"></script>
    <script simpl-append-version="true" src="~/modules/shoppingcart/add-to-cart.js"></script>
    <script simpl-append-version="true" src="~/themes/CozaStore/vendor/animsition/js/animsition.min.js"></script>
    <script simpl-append-version="true" src="~/themes/CozaStore/vendor/slick/slick.min.js"></script>
    <script simpl-append-version="true" src="~/themes/CozaStore/js/slick-custom.js"></script>
    @RenderSection("scripts", required: false)
    <!-- END body -->
</body>
<!-- END html -->
</html>
