@model SimplCommerce.Module.Cms.Areas.Cms.ViewModels.CarouselWidgetViewComponentVm
@*<aside class="homebanner">
        <div id="sync1">
            @foreach (var item in Model.Items)
            {
                <div class="item">
                    <a aria-label='slide' href='@item.TargetUrl'><img src='@item.Image' alt='@item.SubCaption' /></a>
                </div>
            }
        </div>
        <div id="sync2">
            @foreach (var item in Model.Items)
            {
                <div class="item">
                    <h3>@item.SubCaption<br /></h3>
                    <i class="arrowbar"></i>
                </div>
            }
        </div>
    </aside>*@
<div class="row">
    <div class="col-xs-12">
        <div class="sliders-container">
            @foreach (var item in Model.Items)
            {
                <div class="slider active" id="slider">
                    <div class="row">
                        <div class="col-xs-12">
                            <img  src='@item.Image' alt='@item.Caption' />
                            <div class="hidden-xs">
                                <div class="slider-text" style="position:absolute;top:0;left:0;width:50%;padding:45px 0 0 80px;text-align:left;">
                                    <h1 style="font-size: 56px; text-align: left; color: #ffffff;">@item.Caption</h1>
                                    <a class="more-link" style="border-color:#ffffff; color: #ffffff;" href="@item.TargetUrl">More info</a>
                                </div>
                            </div>
                            <div class="visible-xs">
                                <div class="slider-text-small" data-default_width="1170" data-font_size="56" style="position:absolute;top:0;left:0;width:50%;padding:45px 0 0 80px;text-align:left;">
                                    <h1 class="h1-slider-text" style="font-size: 56px; text-align: left; color: #ffffff;">@item.Caption</h1>
                                    <a class="more-link" style="border-color:#ffffff; color: #ffffff;" href="@item.TargetUrl">More info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
