@model IEnumerable<SimplCommerce.Module.Catalog.Areas.Catalog.ViewModels.CategoryMenuItem>
@using SimplCommerce.Module.Core.Extensions
@using SimplCommerce.Module.Core.Models
@inject IViewLocalizer Localizer
@inject IWorkContext WorkContext
@inject SignInManager<User> SignInManager
@*<nav class="navbar navbar-expand-md navbar-dark">
        <div class="wrap-main">

            <a class="logo" title="Về trang chủ laptopcudanang.com" href="/" aria-label="logo">
                <img src="~/themes/TheGioiDiDong/images/cdn/v2015/Content/desktop/images/V4/logo-techcare-web.png" class="logo"/>
            </a>
            <form id="search-site" class="form-inline mt-2 mt-md-0" action="search" method="get" onsubmit="return submitSearchForm();" autocomplete="off">
                <input class="form-control mr-sm-2" id="search-keyword" name="query" type="text" aria-label="Bạn tìm gì..." placeholder="Bạn tìm gì..." autocomplete="off" onkeyup="SuggestSearch(event,this, 0);" maxlength="50" />
                <button class="btntop" type="submit" aria-label="tìm kiếm"><i class="icontgdd-topsearch"></i></button>
            </form>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">

                <ul class="navbar-nav mr-auto">
                    @foreach (var item in Model)
                    {
                        <li class="nav-item nav-item-active">
                            <a href="/@item.Slug" class="mobile @item.Slug" title="@item.Name">
                                @Html.Raw(item.Icon) @item.Name
                            </a>
                        </li>
                    }
                    <li class="nav-item nav-item-active menu-li-guide">
                        <a href="#" class="ask " title="Hỏi đáp">
                            <i class="icontgdd-ask"></i>Tư vấn
                        </a>
                        <ul class="menu-ul-guide">
                            <li>
                                <a href="~/huong-dan-thanh-toan" title="Hướng dẫn thanh toán">
                                    Hướng dẫn thanh toán
                                </a>
                                <a href="~/chinh-sach-bao-hanh" title="Chính sách bảo hành">
                                    Chính sách bảo hành
                                </a>
                                <a href="~/tu-van-tra-gop" title="Tư vấn trả góp">
                                    Tư vấn trả góp
                                </a>
                                <a href="~/phuong-thuc-giao-hang-cod" title="Phương thức giao hàng COD">
                                    Phương thức giao hàng COD
                                </a>
                                <a href="~/tin-tuc" title="Tin tức">
                                    Tin tức
                                </a>
                            </li>
                        </ul>
                    </li>
                    @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <a class="mobile" asp-area="Core" asp-controller="Manage" asp-action="Index" title="@Localizer["Manage"]">
                        <i class="fa fa-user-circle" style="font-size: 20px;margin-bottom: -1px;" aria-hidden="true"></i>
                        @((await WorkContext.GetCurrentUser()).FullName)
                    </a>
                </li>

                @if (User.IsInRole("admin") || User.IsInRole("vendor"))
                {
                    <li class="nav-item">
                        <a class="mobile" asp-area="Core" asp-controller="HomeAdmin" asp-action="Index"><i class="fa fa-tachometer" aria-hidden="true" style="font-size: 20px;margin-bottom: -1px;"></i>@Localizer["Dashboard"]</a>
                    </li>

                }
                <li class="nav-item">
                    <a class="mobile" asp-area="Core" asp-controller="Account" asp-action="LogOff"><i class="fa fa-sign-out" aria-hidden="true" style="font-size: 20px;margin-bottom: -1px;"></i>@Localizer["Log off"]</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="mobile" asp-area="Core" asp-controller="Account" asp-action="Login"><i class="fa fa-sign-in" aria-hidden="true" style="font-size: 20px;margin-bottom: -1px;"></i>@Localizer["Log in"]</a>
                </li>
                <li class="nav-item">
                    <a class="mobile" asp-area="Core" asp-controller="Account" asp-action="Register"><i class="fa fa-user-plus" aria-hidden="true" style="font-size: 20px;margin-bottom: -1px;"></i>@Localizer["Register"]</a>
                </li>
            }
                    <li class="nav-item ">
                        @await Component.InvokeAsync("CartBadge")
                    </li>
                </ul>
            </div>
        </div>
    </nav>*@

@*<div class="nav-wrapper">

        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><i class="fa fa-home"></i></a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        @foreach (var item in Model)
                        {
                            if (item.ChildItems.Any())
                            {
                                  <li class="dropdown">
                                    <a href="/@item.Slug" class="dropdown-toggle"   role="button" aria-expanded="false" data-hover="dropdown" data-close-others="false">@item.Name</a>
                                    <ul class="dropdown-menu" role="menu">
                                        @foreach (var childItem in item.ChildItems)
                                        {
                                            <li><a href="/@childItem.Slug">@childItem.Name</a></li>
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li><a href="/@item.Slug">@item.Name</a></li>
                            }
                        }
                    </ul>
                </div>
            </nav>
        </div>
    </div>*@

<div class="row">
    <div class="col-xs-12">
        <nav class="navbar navbar-default fhmm" role="navigation">
            <div class="navbar-header"><button class="navbar-toggle" data-target="#main-navigation" data-toggle="collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="nav navbar-nav">
                    @foreach (var item in Model)
                    {
                        <li class="dropdown fhmm-fw ">
                            <a class="dropdown-toggle" href="@item.Slug">@item.Name</a>
                            @if (item.ChildItems.Any())
                            {
                                <div class="dropdown-menu hidden-xs" role="menu">
                                    <div class="row">
                                        <div class="col-sm-4 divided">
                                            <div class="list-group">
                                                @foreach (var childItem in item.ChildItems)
                                                {
                                                    <a class="list-group-item" href="/@childItem.Slug">@childItem.Name</a>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-sm-4 menu-content">
                                            <h3>@item.Name</h3>
                                            <p>@item.Description</p>
                                        </div>
                                        <div class="col-sm-4"><img class="img img-responsive" src="@item.Icon" alt="@item.Name" /></div>
                                    </div>
                                </div>
                            }

                        </li>
                    }
                </ul>
            </div>
        </nav>
    </div>
</div>
