@model IEnumerable<SimplCommerce.Module.Catalog.Areas.Catalog.ViewModels.CategoryMenuItem>
@using SimplCommerce.Module.Core.Extensions
@using SimplCommerce.Module.Core.Models
@inject IViewLocalizer Localizer
@inject IWorkContext WorkContext
@inject SignInManager<User> SignInManager
<div class="row">
    <div class="col-xs-12">
        <nav class="navbar navbar-default fhmm" role="navigation">
            <div class="navbar-header"><button class="navbar-toggle" data-target="#main-navigation" data-toggle="collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="nav navbar-nav">
                    @foreach (var item in Model)
                    {
                        <li class="dropdown fhmm-fw ">
                            <a class="dropdown-toggle" href="~/@item.Slug">@Localizer[item.Name]</a>
                            @if (item.ChildItems.Any())
                            {
                                <div class="dropdown-menu hidden-xs" role="menu">
                                    <div class="row">
                                        <div class="col-sm-4 divided">
                                            <div class="list-group">
                                                @foreach (var childItem in item.ChildItems)
                                                {
                                                <a class="list-group-item" href="~/@childItem.Slug">@Localizer[childItem.Name]</a>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-sm-4 menu-content">
                                            <h3>@item.Name</h3>
                                            @Html.Raw(item.Description)
                                        </div>
                                        @if (!string.IsNullOrEmpty(item.Icon))
                                        {
                                            <div class="col-sm-4"><img class="img img-responsive" src="@item.Icon" alt="@item.Name" /></div>
                                        }
                                    </div>
                                </div>
                            }

                        </li>
                    }
                </ul>
            </div>
        </nav>
    </div>
</div>
